<div class="panel-group" id="{$_name}"  class="{$class}" style="{$style}">
<style type="text/css">
.img-box{
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 1px 1px #e6e6e6;
    display: block;
    width:50%;
    height:60px;
    width:60px;
}
.box{
    background: none repeat scroll 0 0 #f8f8f8;
    min-height: 20px;
    padding: 19px;
}
.text-box{
 box-shadow:0 1px 0 rgba(0, 0, 0, 0.05);
}
/*//fcf9f1;*/
</style>
    {rows}
        {row}
        {$panel_html}
            <div class="panel-heading">
                <p class="panel-title">{$icon}{$action} By {$action_from}
                    <span class="atk-size-micro pull-right">{$activity_date}</span>                
                </p> 
            </div>
            <div class="panel-body">
                <div class="atk-row">
                    <div class="atk-col-2">
                      <img class="img-box atk-shape-rounded" src="logo.svg">
                        {$actor_img}
                    </div>
                    <div class="atk-col-10">
                        <p class="text-box">
                            <small class="atk-swatch-gray">Subject</small> {$subject}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>&nbsp;{$message}
                        </p>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                {notify_via_email}{/notify_via_email}
                {attachments}{/attachments}
                {notify_via_sms}{/notify_via_sms}
            </div>
        </div>
        {/row}
    {/rows}
</div>
