<div class="panel-group" id="{$_name}"  class="{$class}" style="{$style}">
<style type="text/css">
.img-box{
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 1px 1px #e6e6e6;
    display: block;
    min-width:50%;
    width:50%;
    height:60px;
    width:60px;
}
.box{
    background: none repeat scroll 0 0 #f8f8f8;
    min-height: 20px;
    padding: 19px;
}
.text-box{
 box-shadow:0 1px 0 rgba(0, 0, 0, 0.05);
}
/*//fcf9f1;*/
</style>
        <!-- {$panel_html} -->
        <div class="panel">
            <div class="panel-heading">
                    <p class="panel-title">{$action_icon} {$action_name} By {$action_from}
                    {$activity_date}
                    </p> 
                    <span>{$created_at}</span>
            </div>
            <div class="panel-body">
                <div class="atk-row">
                    <div class="atk-col-2">
                        {$actor_img}
                    </div>
                    <div class="atk-col-10">
                        <p class="text-box">
                            <small class="atk-swatch-gray">Subject</small> <b>{$subject}</b>
                        </p>
                        <p class="">
                            {$message}
                        </p>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                {notify_via_email}{/notify_via_email}
                {attachments}{/attachments}
                {notify_via_sms}{/notify_via_sms}
            </div>
        </div>

</div>
