<div id="{$_name}" class="{$class}">
	{$Content}
	<div class="atk-row well" >
		<div class="atk-col-8 text-center">
			{$name}
		</div>
		<div class="atk-col-4  text-right">
			<div class="atk-row " >
				<div class="atk-col-12">
				Created Date: {$created_at}
				</div>
			</div>
			<div class="atk-row">
				<div class="atk-col-12">
					Created By: {$created_by}
				</div>
			</div>
			<div class="atk-row">
					<div class="atk-col-12">
						Status: {$status}
					</div>
				</div>
		</div>
			
	<div class="atk-row">
		<div class="atk-col-10">
			{$doc_content}
		</div>
	</div>
</div>
