<div id='{$_name}'>
    <div class="tile bg-cyan {class}" style="background-color:{bgcolor};width:100%;height:150px;position:relative;">
        <div class="brand">
        	<h2 style="color:white;" class="text-center">{heading}</h2>
            <div style="display:block;background-color:{bgcolor};position:absolute;" class="badge">
            	<i class="icon-box">{Content}</i>
            </div>
            <div style="bottom:0;right:0;display:block;position:relative;background-color:{bgcolor};position:absolute;" class="badge">
        	   <i class="icon-money">2000</i>
            </div>
        </div>
    </div>
</div>