<div id='{$_name}' class="{$class}" style="{$style}">
    <div class="" style="width:100%;height:180px;">
        <div class="brand">
        	<h2 class="text-center atk-size-giga panel-heading">{$title}</h2>
            <div class="atk-size-mega atk-align-center" style="font-size: 80px; line-height: 60px; margin-bottom: 30px;">
                {$Content}
            </div>
            <div style="margin-right:10px;" class="pull-right atk-button atk-size-peta">
        	   {$footer}
            </div>
        </div>
    </div>
</div>