<div>
	<h4 class="">xMenus based On Bootstrap Menus. It is a Collection of Various Type of Menus. Currently there are following Menus  are available.
	</h4>
</div>
	<ul class="nav nav-tabs" role="tablist">
  			<li class="active"><a href="#bootstrap-menu" role="tab" data-toggle="tab">Bootstrap Menus</a></li>
 	</ul>
      <div class="tab-content ">
  		    <div class="tab-pane active" id="bootstrap-menu">
  			<br>
   				<div>
					<h2><center>xMenus Bootstrap Menu</center></h2>
					<h4>
						Bootstrap Menu is flexible and responsive components.It is a Client Side Components.It is simple, effective and easy to use.
   					</h4>
				</div>
						<div class="row" style="margin-top:2%">
								<div class="col-md-5">
							<h4 class="text-center" style="text-transform: capitalize"><b>Major features of Bootstrap Menu :</b></h4>
							<h4><ul>
								<li>User can add multiple menus in single site.</li>
								<li>Sortable menu items.</li>
								<li>It is completly responsive and dynamic Bootstrap Menu </li>
								<li>User can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
								<li>User can add Multiple Pages but Menu Caption Must be required.</li>
								<li>User can add Sub menu items in parent menu.</li>
							</ul></h4>
								</div>
								<div class="col-md-7">
									<img src="epan-components/xMenus/templates/images/menupage.png" style="width:100%;max-width:100%;" class="img-thumbnail">
								</div>
						</div>	
						<div class="row text-center" style="margin-top:3%">
							<div class="col-md-4">
										<h4><b> Create Menu Page</b></h4>
										<img src="epan-components/xMenus/templates/images/dragmenu.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
										<h4><b> Drag & Drop Menu</b></h4>
										<img src="epan-components/xMenus/templates/images/getpages.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
										<h4><b> Sortabel Menu Order</b></h4>
										<img src="epan-components/xMenus/templates/images/selectorder.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
						</div>	
			</div>
		</div>	
