<div class=" {$class}" style=" {$style}">
	<br/><table width="95%" border="1" align="center">
		<tr>
			<th>S No</th>
			<th>Voucher No</th>
			<th>Transaction Type</th>
			<th>Created Date</th>
			<th>Narration</th>
			<th>Debit</th>
			<th>Credit</th>
			<th>Balance</th>
		</tr>
		{opening_balance_section}
		<tr>
			<td colspan="4" align="right">
				{$opening_balance_narration}
			</td>
			<td></td>
			<td>{$opening_balance}</td>
			<td></td>
		</tr>
		{/opening_balance_section}
	{$Content}
		{rows}
			{row}
				<tr>
					<td>
						{$s_no}
					</td>
					<td>
						{$voucher_no}
					</td>
					<td>
						{$transaction_type}
					</td>
					<td>
						{$created_date}
					</td>
					<td>
						{$Narration}
					</td>
					<td>
						{$amountDr}
					</td>
					<td>
						{$amountCr}
					</td>
					<td>
						{$balance}
					</td>
				</tr>
			{/row}
		{/rows}
		</table>
</div>