|{rows}
|{row}
.atk-row
    .atk-col-4 Item  
    .atk-col-3 Jobcard No  
    .atk-col-5 Depat/{$status}
.atk-row
    .atk-col-4 {$orderitem}  
    .atk-col-3 {$name}  
    .atk-col-5 {$to_department}/{$status}
{$Content}
{/row}    
{/rows}    