{rows}
{row}
.well
  .atk-row
    .atk-col-4 Order No :- {$name}
    .atk-col-4 Created By :- {$created_by}
    .atk-col-4 Created Date :- {$created_date}
  .atk-row
    .atk-col-4 Item
    .atk-col-3 Jobcard No
    .atk-col-5 Department / Status
  .atk-push-small  
    |Order Item : {$order_detail}
  .atk-push
{/row}
{/rows}
{$Content}
