
{rows}
{row}
<div class="well">
  <div class="atk-row">
    <div class="atk-col-4">Order No :- {$name}</div>
    <div class="atk-col-4">Created By :- {$created_by}</div>
    <div class="atk-col-4">Created Date :- {$created_date}</div>
  </div>
  <div class="atk-row">
    <div class="atk-col-4">Item</div>
    <div class="atk-col-3">Jobcard No</div>
    <div class="atk-col-5">Department / Status</div>
  </div>
  <div class="atk-push-small">
     
    Order Item : {$order_detail}
  </div>
  <div class="atk-push"></div>
</div>{/row}
{/rows}
{$Content}