<link rel="stylesheet" type="text/css" href="epan-components/xProduction/templates/css/task.css"/>
<div class="xsticky atk-size-micro yellow atk-padding">
			<i class="xpin"></i>
			<div class='atk-row '>
					<div class='atk-col-5  '>
							Task No.: {$name}&nbsp;&nbsp;<b class=''>{$priority}</b><br>
							{$created_at}&nbsp;{$task_created_att}
					</div>					
					<div class='atk-col-7 atk-size-kilo'>
						{$task_subject}
					</div>
			</div>
			<div class='atk-row'>
				<div class='atk-col-6'>
					Created By.:- <b>{$created_by}</b>	
				</div>
				<div class='atk-col-6 text-right'>
					Assign to.:- <b>{$employee}</b>	
				</div><br>
				<div class='atk-col-6'>
					Starting Date.:- {$expected_start_date}	
				</div>
				<div class='atk-col-6 text-right'>
					Ending Date.:- {$expected_end_date}	
				</div>
			</div>
										
</div>
