<div group='lable'>
	<span class="" style='width:10px; height:10px;'onclick='applyCssTemplate(this);'>Remove</span>
	<span class="label label-danger" onclick='applyCssTemplate(this);'>Label</span>
	<span class="label label-default" onclick='applyCssTemplate(this);'>Label</span>
	<span class="label label-info" onclick='applyCssTemplate(this);'>Label</span>
</div>

<div group='alert'>
	<span class="" style='width:10px; height:10px;'onclick='applyCssTemplate(this);'>Remove</span>
	<span class="alert alert-danger" onclick='applyCssTemplate(this);'>Label</span>
	<span class="alert alert-default" onclick='applyCssTemplate(this);'>Label</span>
	<span class="alert alert-info" onclick='applyCssTemplate(this);'>Label</span>
</div>

<div group='btn'>
	<span class="" style='width:10px; height:10px;'onclick='applyCssTemplate(this);'>Remove</span>
	<span class="btn btn-danger" onclick='applyCssTemplate(this);'>Label</span>
	<span class="btn btn-default" onclick='applyCssTemplate(this);'>Label</span>
	<span class="btn btn-info" onclick='applyCssTemplate(this);'>Label</span>
</div>

<script type="text/javascript">
	applyCssTemplate: function applyCssTemplate(obj){
		var sib;
		sib = $(obj).siblings();
		$.each(sib, function(index, val) {
			var my_classes = $(val).attr('class').split(' ');
			$.each(my_classes, function(index, val) {
				$(current_selected_component).removeClass(val);
			});
		});
		$(current_selected_component).addClass($(obj).attr('class'));
	}

	swapCssTemplateApplied: function swapCssTemplateApplied(obj){
		if($(obj).parent().hasClass('epan-place-holder'))
			$(obj).parent().removeClass('epan-place-holder');
		else
			$(obj).parent().addClass('epan-place-holder');
	}

</script>