.row.epan-sortable-component.epan-component(id='{$_name}', component_type='Row', class=' {$class}',{$attributes} ,style=' {$style}', span='12')
  .col-md-12.epan-sortable-component.epan-component(id='{$_name}',component_type='Columns', style=' {$style}')