<div id='<?$_name?>' class='epan-component-options' component_type="<?$component_type?>">
	<h3><?$component_type_name?></h3>
	<div class='xepan-collasp-header'>
		<table class="table table-condensed table-hover">
			<tbody>
				<tr>
					<td>
						Image
					</td>
					<td>
						<div class="btn-group">
							<input type="text" id='xepan-image-option-src' class="btn" disabled=true/>
							<button type="button" id='xepan-image-option-select' class="btn btn-default btn-xs">Select</button>
						</div>
					</td>
					<td>
						<button type="button" id='xepan-image-option-default' class="btn btn-default btn-xs">Default</button>
					</td>
				</tr>
				<tr>
					<td>
						css class
					</td>
					<td colspan="2">
						<input type='text' id='xepan-image-option-class'/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
//
// $(your_option_html_element).click(function(event,ui){
				// 		$(current_selected_component).what to do ???
// })
$('#xepan-image-option-default').click(function(event) {
	$(current_selected_component).find('img').attr('src','templates/images/logo.png');
	$('#xepan-image-option-src').val('templates/images/logo.png');
});
$('#xepan-image-option-class').change(function(event) {
	$(current_selected_component).removeClass($(current_selected_component).find('img').attr('data-extra-classes'));
	$(current_selected_component).find('img').attr('data-extra-classes',$(this).val());
	$(current_selected_component).find('img').addClass($(this).val());
});
$('#xepan-image-option-select').click(function(event) {
	var fm = $('<div/>').dialogelfinder({
						url : 'elfinder/php/connector.php',
						lang : 'en',
						width : 840,
						destroyOnClose : true,
						getFileCallback : function(files, fm) {
							console.log(files.url);
							$('#xepan-image-option-src').val(files.url);
							$(current_selected_component).find('img').attr('src',files.url);
						},
						commandsOptions : {
							getfile : {
								oncomplete : 'close',
								folders : true
							}
						}
					}).dialogelfinder('instance');
		});
	var <?$component_type?>_options = {
	show: function (){
	// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
	// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
	//
	// $(your_option_html_element).text($(current_selected_component).css('border'));
	$('#xepan-image-option-src').val($(current_selected_component).find('img').attr('src'));
	}
	}
	</script>