<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
	<h3>{$component_type_name}</h3>
	
	<div class='xepan-collasp-header'>
		<table class="table table-condensed table-hover">
						<tbody>
							<tr>
								<td>
									<p>Column Size</p>
								</td>
								<td>
										<div id='column-span-input'></div>						
								</td>
								<td width='20%'>
									<div class="epan-component-column-size"></div>
								</td>
							</tr>
							</tbody>
							</table>
	</div>
</div>

<script type="text/javascript">
	
	$('#column-span-input').slider({
		min: 1,
		max: 12,
		slide: function (event, ui){
			$(current_selected_component)
				.removeClass ('col-md-1 col-md-2 col-md-3 col-md-4 col-md-5 col-md-6 col-md-7 col-md-8 col-md-9 col-md-10 col-md-11 col-md-12');

			$(current_selected_component).addClass('col-md-'+ui.value);
			$(current_selected_component).attr('span',ui.value);
			$('.epan-component-column-size').html(ui.value);
		}
	});

	var {$component_type}_options = {
		show: function (){
			$('#column-span-input').slider('value',$(current_selected_component).attr('span'));
			$('.epan-component-column-size').html($(current_selected_component).attr('span'));
		},
		created: function(obj,parent){
			if($(parent).attr('component_type') != 'Row'){
				// create a row in parent first
				var new_row = $('<div class="row" component_type="Row">dasd</div>');
				new_row.appendTo(parent);
				// make row sortable, selectable and movable
				new_row.sortable(s);
				makeSelectable(new_row);
				// move obj in row
				new_row.append(obj);
			}
		}
	}

</script>
