<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
	<h3>{$component_type_name}</h3>

	<div class='xepan-collasp-header'>
		<table class="table table-condensed table-hover">
			<tbody>
				<tr>
					<td>
						Insert Column
					</td>
					<td style="width:100%" class='text-center'>
						<div id="epan-editor-columns-row-add-col-btn" class="btn btn-default btn-sm">Add Column</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selected_component).what to do ???
// }) 
$('#epan-editor-columns-row-add-col-btn').click(function(event){
	var new_col = $('<div component_type=\'Columns\' class=\'atk-col-3 epan-sortable-component epan-component\' span=\'3\'></div>');
	new_col.appendTo(current_selected_component);
	new_col.sortable(s);
	makeSelectable(new_col);
	$(new_col).hover(epan_component_hover_function, epan_component_hover_out_function);
	if ($('#epan-component-border:checked').size() > 0) {
        $(new_col).addClass('component-outline');
   	}

    if ($('#epan-component-extra-padding:checked').size() > 0) {
        if($(new_col).hasClass('epan-sortable-component'))
            $(new_col).addClass('epan-sortable-extra-padding');
        $(new_col).find('.epan-sortable-component').addClass('epan-sortable-extra-padding');
    }	
});



var {$component_type}_options = {
	show: function (){
		// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
		// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
		// 
		// $(your_option_html_element).text($(current_selected_component).css('border'));
	}
}
</script>
