<div>
 	<h2><center>Extended Images</center></h2>
	 <h4>Extended image component is a collection of single images with some enhancement. Currently there is one component available that is image with description.
	</h4>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#extended" role="tab" data-toggle="tab">Extended Images</a></li>
  </ul>
 <div class="tab-content">
  <div class="tab-pane active" id="extended">
  <br>
 <div>
 		<h2><center>Image with description</center></h2>
</div>

<div class="row">
	<div class="col-md-5">
		<h4>Major features of extended images :</h4>
		<h4><ul>
		<li>user can easily select the image.</li>
		<li>user can apply various css classes.</li>
		<li>user can manage the text left, right, top, bottom acccording to the need</li> 
		<li>user can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
		<li>user can live edit the description of image.</li>
		</ul></h4>
		<img src="epan-components/extendedImages/templates/images/m5.png" style="width:100%;max-width:100%;" class="img-thumbnail">
	</div>
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<img src="epan-components/extendedImages/templates/images/m1.png" style="width:100%;max-width:100%;" class="img-thumbnail">
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="epan-components/extendedImages/templates/images/m2.png" style="width:100%;max-width:100%;" class="img-thumbnail">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="epan-components/extendedImages/templates/images/m9.png" style="width:100%;max-width:100%;" class="img-thumbnail">
			</div>
		</div>
	</div>
</div>
</div>
</div>