<div id="{$_name}" {$attributes} class=' {$class}' style=' {$style}' >
<link rel="stylesheet" type="text/css" href="epan-components/extendedImages/templates/css/extendedImages-ImageWithDescription1.css"/>
	<div class="imagepluscontainer" style="z-index:2">
		<div class="epan-component" component_type="Image"><img src="logo.png" style='width:100%; max-width:100%'/></div>
		<div class="desc editor" contenteditable="true" style='width:100%; max-width:100%; left-padding:auto; right-padding:auto' >
			Capable of seating 50,000 spectators, the <a href="http://en.wikipedia.org/wiki/Colosseum">Colosseum</a> was used for gladiatorial contests and public spectacles such as executions.
		</div>
	</div>
</div>
