.atk-cells
	h2.
		#[i.icon-users] Users
.atk-row.atk-push
	.atk-col-3
		.atk-box.atk-align-center
			a(href='#')
				| All 
				span.atk-effect-success [{total_active}540{/}]
				span.atk-effect-danger [{total_inactive}230{/}]
			br
			.atk-size-micro.atk-text-dimmed
				| {$total_count}
	.atk-col-3
		.atk-box.atk-align-center
			a(href='#').
				Customers #[span.atk-effect-success [{$total_active_customer}]] #[span.atk-effect-danger [{$total_inactive_customer}]] #[span.atk-size-micro.atk-text-dimmed {$total_customer}]
			br
			.atk-size-micro.atk-text-dimmed
				| Customers/Freelancers and all Frontend Users
	.atk-col-3
		.atk-box.atk-align-center 
			a(href='#').
				Staff #[span.atk-effect-success [{$total_active_staff}]] #[span.atk-effect-danger [{$total_inactive_staff}]] #[span.atk-size-micro.atk-text-dimmed {$total_staff}]
			br
			.atk-size-micro.atk-text-dimmed
				| Backend Users excluding Super Users
	.atk-col-3
		.atk-box.atk-align-center 
			a(href='#') Super Users #[span.atk-effect-success [{$total_active_superuser}]] #[span.atk-effect-danger [{$total_inactive_superuser}]] #[span.atk-size-micro.atk-text-dimmed {$total_superuser}]
			br
			.atk-size-micro.atk-text-dimmed
				| All Privillages as default
.atk-clear-fix
.atk-push
	| {$Content}