<table class="table table-hover">
	<thead>
		<tr>
			<th>SHORTCUT</th>
			<th>DESCRIPTION</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>F1</td>
			<td>This help :)</td>
		</tr>
		<tr>
			<td>F2</td>
			<td>Toggle Toolbar</td>
		</tr>
		<tr>
			<td>F4</td>
			<td>Toggle Options</td>
		</tr>
		<tr>
			<td>Esc</td>
			<td>Hide Both Toolbar and Options and de-select any selected component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+Up</td>
			<td>Select Parent Component, Nothing if already Top Element Selected</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+Down</td>
			<td>Select First Child Component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+Left</td>
			<td>Select Previous sibling component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+Right</td>
			<td>Select Next sibling component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+d</td>
			<td>Delete Selcted component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+&lt;</td>
			<td>Move selected component before previous sibling</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+&gt;</td>
			<td>Move selcted component after next sibling</td>
		</tr>
		<tr>
			<td>Ctrl+s</td>
			<td>Save :)</td>
		</tr>
		<tr>
			<td>Tab</td>
			<td>Select next element</td>
		</tr>
		<tr>
			<td>Shift+Tab</td>
			<td>Select previous element</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+x</td>
			<td>Cut Selected Component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+c</td>
			<td>copy Selected Component</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+v</td>
			<td>Paste in last to current selected component</td>
		</tr>
	</tbody>
</table>