<div class="atk-row">
	<div class="atk-col-4 atk-box-small atk-swatch-yellow">
		<div class="atk-swatch-gray ">
			<table border="1" bordercolor="yellow" width="100%">
				
				<tr>
					<td align="center"><div class="icon-plus"><b>Add lead</b></div></td>
					<td align="center"><div class="icon-spinner"></div></td>
					<td align="center"><div class="icon-filter"></div></td>
				</tr>

				<tr>
					<td align="center"><b>Name</b></td>
					<td align="center"><b>Email</b></td>
					<td align="center"><b>Contact No.</b></td>
				</tr>

				<tr>
					<td>Vaibhav Sharma</td>
					<td>vaibhavsharma38@gmail.com</td>
					<td>09887464043</td>
				</tr>

				<tr>
					<td>abc</td>
					<td>abc@gmail.com</td>
					<td>01234574568</td>
				</tr>

				<tr>
					<td>xyz</td>
					<td>xyz@gmail.com</td>
					<td>12345678902</td>
				</tr>

				<tr>
					<td  align="center" class="icon-angle-double-left"></td>
					<td  align="center" class="icon-forward"></td>
					<td  align="center" class="icon-angle-double-right"></td>
				</tr>


			</table>
		</div>
	</div>
	

	<div class="atk-col-1"></div>

	<div class="atk-col-3 atk-box-small atk-swatch-yellow">
		<div class="atk-swatch-gray">
			<table border="1" bordercolor="yellow" width="100%">
				<tr>
					<td>
					<div class="icon-plus" align="center"><b>Add activity</b></div> 
					<td>
				</tr>
			</table>
			<center><h3>First interaction</h3></center>
			<center><h5>Client is interested in 'abc' product. Client added in followup</h5></center>
			<div align="right" class="icon-edit"><b>Edit</b></div>
			<hr>

			<center><h3>second interaction. meeting setted up</h3></center>
			<center><h5>Client want's to meet on 'xyz' date.</h5></center>
			<div align="right" class="icon-edit"><b>Edit</b></div>
			<hr>

			<center><h3>Client's queries regarding product solved</h3></center>
			<center><h5>Mr. 'abc' is really interested in the product 'xyz'. Although he had some Queries regarding produt yet he believes that it's a great product</h5></center>
			<div align="right" class="icon-edit"><b>Edit</b></div>	
			<hr>

			<center><h3>Some serious oppurtunity spotted</h3></center>
			<center><h5>Mr. 'abc' is really interested in the product 'xyz'. Although he had some Queries regarding produt yet he believes that it's a great product</h5></center>
			<div align="right" class="icon-edit"><b>Edit</b></div>
			<table width="100%" border="1" bordercolor="yellow">
				<tr>
					<td  align="center" class="icon-angle-double-left"></td>
					<td  align="center" class="icon-angle-double-right"></td>
				</tr>
			</table>

		</div>
	</div>

	<div class="atk-col-1"></div>

	<div class="atk-col-3 atk-box-small atk-swatch-yellow">
		<div class="atk-swatch-gray">
				<table border="1" bordercolor="yellow" width="100%">
				<tr>
					<td colspan="4">
						<div class="icon-plus" align="center"><b>Add followups</b></div> 
					</td>
				</tr>

				<tr>
					<td align="center"><div class="atk-swatch-green">Vaibhav sharma</div></td>
					<td align="center">04/12/2015</td>
					<td align="center"><div class="icon-edit"></div></td>
					<td align="center"><div class="icon-trash"></div></td>
				</tr>

				<tr>
					<td colspan="4">Green swatch showing upcoming followups</td>
				</tr>

				<tr>
					<td align="center"><div class="atk-swatch-red">ABC</div></td>
					<td align="center">02/12/2015</td>
					<td align="center"><div class="icon-edit"></div></td>
					<td align="center"><div class="icon-trash"></div></td>
				</tr>

				<tr>
					<td colspan="4">Red swatch showing expired followups</td>
				</tr>

				<tr>
					<td colspan="1" align="center" class="icon-angle-double-left"></td>
					<td colspan="3" align="center" class="icon-angle-double-right"></td>
				</tr>


			</table>
		</div>		
	</div>
</div>