	<ul class="nav nav-tabs" role="tablist">
  			<li class="active"><a href="#developerzone" role="tab" data-toggle="tab">DeveloperZone</a></li>
 	</ul>
      <div class="tab-content ">
  		    <div class="tab-pane active" id="developerzone">
  			<br>
   				<div>
					<h2><center>Developer Zone</center></h2>
					<h4>
						DeveloperZone  Provide skeleton  for xEpan CMS Components and It is Helping tools for developer for Create a xEpan Components.
   					</h4>
				</div>
						<div class="row" style="margin-top:2%">
								<div class="col-md-5">
							<h4 class="text-center" style="text-transform: capitalize"><b>Major features of Developer Zone :</b></h4>
							<h4><ul>
								<li>It is Provide skeleton for xEpan CMS Components .</li>
								<li>developerZone is helping tools for a Developer to create application and tools and plugins for a xEpan.</li>
								<li>Create installable package also for xEpan CMS. </li>
							</ul></h4>
								</div>
								<div class="col-md-7">
										<h4><b> Create Components</b></h4>
									<img src="epan-components/developerZone/templates/images/createcompo.png" style="width:100%;max-width:100%;" class="img-thumbnail">
								</div>
						</div>	
						<div class="row text-center" style="margin-top:3%">
							<div class="col-md-6">
										<h4><b> Create Components Tools</b></h4>
										<img src="epan-components/xMenus/templates/images/dragmenu.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-6">
										<h4><b>Download Components Package</b></h4>
										<img src="epan-components/xMenus/templates/images/getpages.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
						</div>	
			</div>
		</div>	
