<div id="{$_name}" class="{$Class}">
		<!--job card detail  -->
	<div  class="row">
		<div class="col-md-4">
			<div>Invoice No :<b>{$invoice_no}</b></div>
			<div> Supplier :<b>{$xpurchase_supplier}</b></div>
			<div> Billing address :<b>{$billing_address}</b></div>
			<!-- <div> Mobile No :<b>{$mobile_no}</b></div> -->
			
		 </div>

		<div class="col-md-4 text-center atk-swatch-ink"style='text-transform:capitalize'>{$type}</div>

			<!--order detail  -->
		<div class = "col-md-4 text-right">
			<div>purchase Order No: <b>{$po}</b></div>
			<!-- <div>Order Created Date: <b>{$order_created_at}</b></div> -->
			<!-- <div>Sale Order No: <b>{$sales_order_no}</b></div> -->
			 <div>Purchase Order Created Date: <b>{$order_created_at}</b></div>
			
		</div>
	</div>
		<table width='100%' class='table'>
			<tbody class='table-striped'>
				<tr>
					<th align="left">Sno</th>
					<th align="center">Item Name</th>
					<th align="right" class="text-right">Qty</th>
					<th align="right" class="text-right">Unit</th>
					<th align="right" class="text-right">Rate</th>
					<th align="right" class="text-right">Amount</th>
					
				</tr>
			{rows}
				{row}
					<tr>
						<td align="left">{$sno}</td>
						<td align="left">{item_name} Item  Here{/item_name}</td>
						<td align="right">{$qty}</td>
						<td align="right">{$unit}</td>
						<td align="right">{$rate}</td>
						<td align="right">{$amount}</td>
						
					</tr>
				{/row}
			{/rows}
			</tbody>
	</table>	
		<!-- <div class="col-md-12">
			<b>Specifications</b><br>
				{specification} Specification Here{/specification}
		</div> -->

</div>


<!-- <table style="height: 231px;" border="true" width="989">
<thead>
<tr style="border: 5 px solid; border-color: #000000; text-align: left;">
<td style="text-align: left;">
<h2><strong>Prime Scan</strong></h2>
<h4><strong>"Shubh Ashiyana" </strong></h4>
<h4><strong>Flat no.- 102, Second Floor, B- Block </strong></h4>
<h4><strong>100 Ft. Road, Ayad - Shobhagpura </strong></h4>
<h4><strong>Udaipur - 313001 (Raj.) India </strong></h4>
<h4><strong>Email :- <a href="mailto:info@primescanindia.com">info@primescanindia.com</a></strong></h4>
<p>&nbsp;</p>
<table style="height: 60px;" border="true;" width="343;">
<tbody>
<tr>
<td>
<h4><strong>Customer :-</strong> <strong>Mr. {{customer_name}}</strong></h4>
<h4><strong>Contact No.</strong>&nbsp; <strong>{{mobile_number}}</strong></h4>
<h4><strong>Email : -</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{customer_email}}</strong></h4>
<h4><strong>Billing-Address: -</strong> {{order_billing_address}}</h4>
<h4><strong>Shipping Address :-</strong>{{order_shipping_address}}</h4>
</td>
</tr>
<tr style="border-color: #000000;">
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="border-color: #000000; text-align: left; vertical-align: top;">
<table style="height: 243px; float: left;" border="1" width="602">
<tbody>
<tr>
<td><strong>Invoice No. :- </strong></td>
<td><strong>Dated :- </strong></td>
</tr>
<tr>
<td><strong>Delivery Note :- </strong></td>
<td><strong>Mode/Terms of Payment : - </strong></td>
</tr>
<tr>
<td><strong>Supplier's Ref. :- </strong></td>
<td><strong>Other Ref. :- </strong></td>
</tr>
<tr>
<td><strong>Customer Order No. :- </strong></td>
<td><strong>Dated :- </strong></td>
</tr>
<tr>
<td><strong>Despatched Document No. :- </strong></td>
<td><strong>Dated :- </strong></td>
</tr>
<tr>
<td><strong>Despatched through :- </strong></td>
<td><strong>Destination. :- </strong></td>
</tr>
<tr>
<td colspan="2">
<p><strong>Terms of Delivery : -</strong><br /><br /></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</thead>
<tbody>
<tr>
<td style="vertical-align: middle;" colspan="2">
<table style="height: 56px;" width="982">
<tbody>
<tr>
<td colspan="2"><strong>{{order_details}}</strong><br /><br /></td>
</tr>
<tr>
<td>Amount Chargeable (In Words) :- Indian Rupees :-</td>
<td style="text-align: left; vertical-align: middle;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E, &amp; E.Q</strong></td>
</tr>
<tr>
<td colspan="2">
<p>&nbsp;</p>
<p><strong>Company's VAT TIN. : 16541646465<br /><br />Company's CST No. : 151455545<br /><br />Customer's VAT TIN. : 45454545<br /><br />Company's PAN :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 448646464</strong></p>
<p>&nbsp;</p>
</td>
</tr>
<tr style="border-color: #000000;">
<td><strong>Declaration : -</strong><br />We work with our clients, not for the clients,as we have developed ourselves as a business&nbsp; <br /><br />partner to them. This characteristic help us as well as to our clients to build the lasting relationship.</td>
<td style="border-color: #000000;">&nbsp;&nbsp;&nbsp;<strong> for Prime Scan</strong></td>
</tr>
</tbody>
</table>
<br /><br /></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

 -->