<div id="{$_name}">
	{$Content}
	<div class="row">
		<div class="col-md-4">
			Request On: <b>{$request_on}</b>
		</div>
		<div class="col-md-4 text-center">
			 Status: <b>{$status}</b>
		</div>
		<div class="col-md-4 text-right">
			
			<div>To Suppiler: <b>{$supplier}</b></div>
		</div>
	</div>	
		
	<table width='100%' class="table">
		<tbody class="table-striped">
			<tr>
				<th align="left">Sno</th>
				<th align="center">Item</th>
				<th align="right" class="text-right">Qty</th>
				<th align="right" class="text-right">Unit</th>
				<th align="right" class="text-right">Custom Fields</th>
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left">{$item}</td>
					<td align="right">{$qty}</td>
					<td align="right">{$unit}</td>
					<td align="right">{$custom_field}</td>
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>

</div>

