<div id="{$_name}">
	{$Content}
	<div class="row">
		<div class="col-md-4">
			<div>PO No: <b>{$name}</b></div>
			<div>Created On: <b>{$request_on}</b></div>
		</div>
		
		<div class="col-md-4 text-center atk-swatch-ink" style='text-transform:capitalize'>{$status}
		</div>
		
		<div class="col-md-4 text-right">
		<div>Priority: <b>{$priority}</b></div>
		</div>
			
		
	</div>	
	
		<div>Supplier: <b style='text-transform:capitalize'>{$supplier_info}</b></div>
		
	<table width='100%' class='table' style="font-size:11px;vertical-align:top;">
		<tbody class="table-striped">
			<tr>
				<th align="left">Sno</th>
				<th align="center">Item</th>
				<th align="right" class="text-right">Qty</th>
				<th align="right" class="text-right">Unit</th>
				<!-- <th align="right" class="text-right">Total Amount</th> -->
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left">
					<h4>{$item}<br><small>{$custom_field}</small></h4>
					</td>
					<td align="right">{$qty}</td>
					<td align="right">{$unit}</td>
					<!-- <td align="right">{$total_amount}</td> -->
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
	<i class='atk-text-dimmed'>{$order_summary}</i>
		<div><b>Created by :</b> {$created_by_x}</div>
</div>

