#xepan-basic-css-panel.epan-css-options(style='display:none')
  #accordion.panel-group.remove-paddig-margin
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            | Basic Properties
      #collapseOne.panel-collapse.collapse.in
        .panel-body.xepan-collasp-body
          table.table.table-condensed.table-hover
            tbody
              tr
                td
                  p Text Color
                td
                  input#epan-text-color.epan-color-picker(type='text')
                td
                  button.btn.btn-default.btn-xs(onclick="$(current_selected_component).css('color','')")  CLR 
              tr
                td
                  | Google Font
                td(colspan='2')
                  input#epan-font-select.epan-font-picker(type='text')
              tr
                td
                  | Font Size
                td(colspan='2')
                  button#epan-font-size-plus Font Size +
                  button#epan-font-size-minus Font Size -
              tr
                td
                  | Comp. Width
                td(colspan='2')
                  input#epan-component-width-input(type='NUMBER', min='0', max='999999999', size='5')
                  button#epan-component-width-in-px.btn.btn-default.btn-xs(type='button') PX
                  button#epan-component-width-in-per.btn.btn-default.btn-xs(type='button') %
                  button#epan-component-width-auto.btn.btn-default.btn-xs(type='button') auto
                  button#epan-component-width-max.btn.btn-default.btn-xs(type='button') max 100%
              tr
                td
                  | Comp. Height
                td(colspan='2')
                  input#epan-component-height-input(type='NUMBER', min='0', max='999999999', size='5')
                  button#epan-component-height-in-px.btn.btn-default.btn-xs(type='button') PX
                  button#epan-component-height-in-per.btn.btn-default.btn-xs(type='button') %
                  button#epan-component-height-auto.btn.btn-default.btn-xs(type='button') auto
                  button#epan-component-height-max.btn.btn-default.btn-xs(type='button') max 100%
              tr
                td
                  | Class
                td(colspan='2')
                  input#epan-component-extra-clases(type='text', style='width:40%')
                  button#epan-manage-custome-css.btn.btn-default.btn-xs(type='button', style='width:20%') Manage
                  button#epan-bs3-css-helper.btn.btn-default.btn-xs(type='button') Css Templates
    // PADDING
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
            | Padding
      #collapseTwo.panel-collapse.collapse
        .panel-body.xepan-collasp-body
          // Padding panel
          table.table.table-condensed.table-hover
            tbody
              tr
                td
                  | Effect ALL
                td(width='58%')
                  input#epan-all-padding-same(type='checkbox')
                td
              tr
                td
                  | Unit
                td(colspan='2')
                  table
                    tr
                      td(width='25%')
                        input#epan-all-padding-unit-px(type='radio', name='padding-unit', checked='')
                      td(width='25%')
                        | Px
                      td(width='25%')
                        input#epan-all-padding-unit-per(type='radio', name='padding-unit')
                      td(width='25%')
                        | %
              tr
                td
                  | Top
                td
                  #epan-component-padding-top.epan-component-padding(css='padding-top')
                td
                  #padding-top-value
              tr
                td
                  | Right
                td
                  #epan-component-padding-right.epan-component-padding(css='padding-right')
                td
                  #padding-right-value
              tr
                td
                  | Bottom
                td
                  #epan-component-padding-bottom.epan-component-padding(css='padding-bottom')
                td
                  #padding-bottom-value
              tr
                td
                  | Left
                td
                  #epan-component-padding-left.epan-component-padding(css='padding-left')
                td
                  #padding-left-value
    // MARGIN
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
            | Margin
      #collapseThree.panel-collapse.collapse
        .panel-body.xepan-collasp-body
          table.table.table-condensed.table-hover
            tbody
              tr
                td
                  | Effect ALL
                td(width='58%')
                  input#epan-all-margin-same(type='checkbox')
                td
              tr
                td
                  | Unit
                td(colspan='2')
                  table
                    tr
                      td(width='25%')
                        input#epan-all-margin-unit-px(type='radio', name='margin-unit', checked='')
                      td(width='25%')
                        | Px
                      td(width='25%')
                        input#epan-all-margin-unit-per(type='radio', name='margin-unit')
                      td(width='25%')
                        | %
              tr
                td Top
                td
                  table(width='100%')
                    tr
                      td(width='90%')
                        #epan-component-margin-top.epan-component-margin(css='margin-top')
                      td(width='10%')
                        #margin-top-value
                td
                  button.btn.btn-default.btn-xs.margin-auto-btn.btn-sm(type='button', pos='top') auto
              tr
                td
                  | Right
                td
                  table(width='100%')
                    tr
                      td(width='90%')
                        #epan-component-margin-right.epan-component-margin(css='margin-right')
                      td(width='10%')
                        #margin-right-value
                td
                  button.btn.btn-default.btn-xs.margin-auto-btn(type='button', pos='right') auto
              tr
                td
                  | Bottom
                td
                  table(width='100%')
                    tr
                      td(width='90%')
                        #epan-component-margin-bottom.epan-component-margin(css='margin-bottom')
                      td(width='10%')
                        #margin-bottom-value
                td
                  button.btn.btn-default.btn-xs.margin-auto-btn(type='button', pos='bottom') auto
              tr
                td
                  | Left
                td
                  table(width='100%')
                    tr
                      td(width='90%')
                        #epan-component-margin-left.epan-component-margin(css='margin-left')
                      td(width='10%')
                        #margin-left-value
                td
                  button.btn.btn-default.btn-xs.margin-auto-btn(type='button', pos='left') auto
    // BACKGROUND
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
            | Background
      #collapseFour.panel-collapse.collapse
        .panel-body.xepan-collasp-body
          table.table.table-condensed.table-hover
            tbody
              tr
                td
                  | BG Color
                td
                  input#epan-background-color.epan-color-picker(type='text')
                td
                  button.btn.btn-default.btn-xs(onclick="$(current_selected_component).css('background-color','')")  CLR 
              tr
                td
                  | BG Image
                td(colspan='2')
                  .input-group
                    span.input-group-btn
                      button#epan-component-background-image-clear-button.btn.btn-default.btn-xs(type='button') Clr
                    input#epan-component-background-image-input.form-control(style='height:5%;', type='text')
                    span.input-group-btn
                      button#epan-component-background-image-select-button.btn.btn-default.btn-xs(type='button') Select
              tr
                td
                  | Repeat
                td(colspan='2')
                  .btn-group
                    .btn.btn-default.btn-primary.btn-xs(repeat-background='repeat') All
                    .btn.btn-default.btn-xs(repeat-background='repeat-x') X Only
                    .btn.btn-default.btn-xs(repeat-background='repeat-y') Y Only
                    .btn.btn-default.btn-xs(repeat-background='no-repeat') No-Repeat
              tr
                td
                  | Background
                td(colspan='2')
                  .btn-group
                    button#epan-component-background-fixed.btn.btn-default.btn-xs(type='button') Fixed
                    button#epan-component-background-scroll.btn.btn-default.btn-xs(type='button') Scroll
    // BORDER
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
            | Border
      #collapseFive.panel-collapse.collapse
        .panel-body.xepan-collasp-body
          table.table.table-condensed.table-hover
            tbody
              tr
                td(colspan="3")
                  | Effect All
                td
                  input#epan-all-border-same(type='checkbox', checked='')
              tr
                td(width='15%')
                  | Pos.
                td
                  | Color
                td
                  | Style
                td
                  | Width
              tr
                td
                  | Top
                td
                  .epan-component-border-top-color
                    input#epan-component-border-top-color.epan-color-picker.epan-border-color(type='hidden', pos='top')
                td
                  select.epan-border-style(pos='top')
                    option(value="0")
                      |Select Style
                    option(value="dashed")
                      |dash
                    option(value="dotted")
                      |dotted
                    option(value="double")
                      |double
                    option(value="groove")
                      |groove
                    option(value="hidden")
                      |hidden
                    option(value="inset")
                      |inset
                    option(value="none")
                      |none
                    option(value="outset")
                      |outset
                    option(value="ridge")
                      |ridge
                    option(value="solid")
                      |solide
                    option(value="inherit")
                      |inherit
                td
                  input#epan-component-border-top-width.epan-border-width(type='text', size='2', pos='top')
              tr
                td
                  | Right
                td
                  .epan-component-border-right-color
                    input#epan-component-border-right-color.epan-color-picker.epan-border-color(type='hidden', pos='right')
                td
                  select.epan-border-style(pos='right')
                    option(value="0")
                      |Select Style
                    option(value="dashed")
                      |dash
                    option(value="dotted")
                      |dotted
                    option(value="double")
                      |double
                    option(value="groove")
                      |groove
                    option(value="hidden")
                      |hidden
                    option(value="inset")
                      |inset
                    option(value="none")
                      |none
                    option(value="outset")
                      |outset
                    option(value="ridge")
                      |ridge
                    option(value="solid")
                      |solide
                    option(value="inherit")
                      |inherit
                td
                  input#epan-component-border-right-width.epan-border-width(type='text', size='2', pos='right')
              tr
                td
                  | Bottom
                td
                  .epan-component-border-bottom-color
                    input#epan-component-border-bottom-color.epan-color-picker.epan-border-color(type='hidden', pos='bottom')
                td
                  select.epan-border-style(pos='bottom')
                    option(value="0")
                      |Select Style
                    option(value="dashed")
                      |dash
                    option(value="dotted")
                      |dotted
                    option(value="double")
                      |double
                    option(value="groove")
                      |groove
                    option(value="hidden")
                      |hidden
                    option(value="inset")
                      |inset
                    option(value="none")
                      |none
                    option(value="outset")
                      |outset
                    option(value="ridge")
                      |ridge
                    option(value="solid")
                      |solide
                    option(value="inherit")
                      |inherit
                td
                  input#epan-component-border-bottom-width.epan-border-width(type='text', size='2', pos='bottom')
              tr
                td
                  | Left
                td
                  .epan-component-border-left-color
                    input#epan-component-border-left-color.epan-color-picker.epan-border-color(type='hidden', pos='left')
                td
                  select.epan-border-style(pos='left')
                    option(value="0")
                      |Select Style
                    option(value="dashed")
                      |dash
                    option(value="dotted")
                      |dotted
                    option(value="double")
                      |double
                    option(value="groove")
                      |groove
                    option(value="hidden")
                      |hidden
                    option(value="inset")
                      |inset
                    option(value="none")
                      |none
                    option(value="outset")
                      |outset
                    option(value="ridge")
                      |ridge
                    option(value="solid")
                      |solide
                    option(value="inherit")
                      |inherit
                td
                  input#epan-component-border-left-width.epan-border-width(type='text', size='2', pos='left')
              tr
                td(colspan="2")
                  | Radius Top-Left
                td(colspan="2")
                  input#epan-border-radius-t-left.epan-border-radius(type='text', pos='border-top-left-radius' placeHolder='exp. 10px, 10em, 10% etc.')
              tr
                td(colspan="2")
                  | Radius Top-Right
                td(colspan="2")
                  input#epan-border-radius-t-right.epan-border-radius(type='text', pos='border-top-right-radius' placeHolder='exp. 10px, 10em, 10% etc.')
              tr
                td(colspan="2")
                  | Radius Bottom-Left
                td(colspan="2")
                  input#epan-border-radius-b-left.epan-border-radius(type='text', pos='border-bottom-left-radius' placeHolder='exp. 10px, 10em, 10% etc.')
              tr
                td(colspan="2")
                  | Radius Bottom-Right
                td(colspan="2")
                  input#epan-border-radius-b-right.epan-border-radius(type='text', pos='border-bottom-right-radius' placeHolder='exp. 10px, 10em, 10% etc.')
    
    //CSS Tranform
    .xepan-collasp-header
      .panel-heading.remove-padding-margin
        h4.panel-title.atk-size-milli
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseSix')
            | Tranform
      #collapseSix.panel-collapse.collapse
        .panel-body.xepan-collasp-body
          table.table.table-condensed.table-hover
            tbody
              tr
                td(width='20%')
                  |Rotate
                td(width='60%')
                  .epan-component-transform.epan-component-transform-rotate(css-syntax='rotate', unit='deg')
                td(width='20%')
                  .epan-component-transform-rotate-value(rotate='(0deg)')
              tr
                td(width='20%')
                  |Scale
                td(width='60%')
                  .epan-component-transform.epan-component-transform-scale(css-syntax='scale', unit='')
                td(width='20%')
                  .epan-component-transform-scale-value(scale='(1,1)')
              tr
                td(width='20%')
                  |Skew
                td(width='60%')
                  .epan-component-transform.epan-component-transform-skew(css-syntax='skew', unit='deg')
                td(width='20%')
                  .epan-component-transform-skew-value(skew='(0deg,0deg)')
              tr
                td(width='20%')
                  |Translate
                td(width='60%')
                  .epan-component-transform.epan-component-transform-translate(css-syntax='translate', unit='px')
                td(width='20%')
                  .epan-component-transform-translate-value(translate='(1px,1px)')

  // <div class="panel-group" id="accordion">
  // </div>
script(type='text/javascript').
  padding_unit = 'px';
  is_all_padding_same = false;
  margin_unit = 'px';
  is_all_margin_same = false;
  is_all_border_same = true;
  $('#epan-background-color').change(function(){
  $(current_selected_component).css('background-color', '#'+ $(this).val());
  });
  $('#epan-text-color').change(function(){
  $(current_selected_component).css('color', '#'+ $(this).val());
  });
  $('#epan-font-select').fontselect().change(function(){
  var font = $(this).val().replace(/\\+/g, ' ');
  font = font.split(':');
  $(current_selected_component).css('font-family',font[0]);
  });
  $('#epan-font-size-plus').click(function(event) {
  /* Act on the event */
  var fontSize = parseInt($(current_selected_component).css("font-size"));
  fontSize = fontSize + 1 + "px";
  $(current_selected_component).css({'font-size':fontSize});
  });
  $('#epan-font-size-minus').click(function(event) {
  /* Act on the event */
  var fontSize = parseInt($(current_selected_component).css("font-size"));
  // if(fontSize ==1 ) return;
  fontSize = fontSize - 1 + "px";
  $(current_selected_component).css({'font-size':fontSize});
  });
  $('#epan-component-extra-clases').change(function(event) {
  if($(current_selected_component).attr('data-extra-classes') != undefined){
  $(current_selected_component).removeClass($(current_selected_component).attr('data-extra-classes'));
  }
  $(current_selected_component).addClass($(this).val());
  $(current_selected_component).attr('data-extra-classes',$(this).val());
  });
  $('#epan-manage-custome-css').click(function(event) {
  $('body').univ().successMessage('Put your css in mystyles.css');
  var fm = $('<div/>').dialogelfinder({
  url : 'elfinder/php/connector.php',
  lang : 'en',
  width : 840,
  destroyOnClose : true,
  getFileCallback : function(files, fm) {
  },
  commandsOptions : {
  getfile : {
  oncomplete : 'close',
  folders : true
  }
  }
  }).dialogelfinder('instance');
  });
  $('#epan-bs3-css-helper').click(function(event) {
  // Open a div with bootstrap3 playgroung to choose and apply on
  // current_selected_component
  $.univ().frameURL('CSS TEMPLATES','epan-addons/componentBase/templates/view/css-templates.html');
  });
  $('#epan-component-background-image-select-button').click(function(event) {
  var fm = $('<div/>').dialogelfinder({
  url : 'elfinder/php/connector.php',
  lang : 'en',
  width : 840,
  destroyOnClose : true,
  getFileCallback : function(files, fm) {
  console.log(files.url);
  $('#epan-component-background-image-input').val(files.url);
  $(current_selected_component).css('background-image',"url('" + files.url +"')");
  console.log(files);
  },
  commandsOptions : {
  getfile : {
  oncomplete : 'close',
  folders : true
  }
  }
  }).dialogelfinder('instance');
  });
  $('#epan-component-background-image-clear-button').click(function(event) {
  $('#epan-component-background-image-input').val('none');
  $(current_selected_component).css('background-image','none');
  });
  $('#epan-component-background-scroll').click(function(event) {
  $(current_selected_component).css('background-attachment','scroll');
  $('#epan-component-background-fixed').removeClass('btn-primary');
  $(this).addClass('btn-primary');
  });
  $('#epan-component-background-fixed').click(function(event) {
  $(current_selected_component).css('background-attachment','fixed');
  $('#epan-component-background-scroll').removeClass('btn-primary');
  $(this).addClass('btn-primary');
  });
  // INITIAL ONE TIME SETUP ON PAGE LOAD
  $('.epan-component-padding').slider({
  min: 0,
  max: 100,
  slide: function( event, ui ) {
  if(! is_all_padding_same )
  $(current_selected_component).css($(this).attr('css'),ui.value  + padding_unit);
  else{
  $(current_selected_component).css('padding-top',ui.value  + padding_unit);
  $(current_selected_component).css('padding-right',ui.value  + padding_unit);
  $(current_selected_component).css('padding-bottom',ui.value  + padding_unit);
  $(current_selected_component).css('padding-left',ui.value  + padding_unit);
  }
  $('#'+$(this).attr('css')+'-value').html(ui.value+''+ padding_unit);
  }
  });
  $('.epan-component-margin').slider({
  min: -100,
  max: 100,
  slide: function( event, ui ) {
  ui.value = parseInt(ui.value, 10) || 0;
  if(! is_all_margin_same ){
  console.log('setting ' + $(this).attr('css') + ' = ' + ui.value+ margin_unit);
  console.log($(current_selected_component));
  $(current_selected_component).css($(this).attr('css'),ui.value  + margin_unit);
  }
  else{
  $(current_selected_component).css('marginTop',ui.value  + margin_unit);
  $(current_selected_component).css('marginRight',ui.value  + margin_unit);
  $(current_selected_component).css('marginBottom',ui.value  + margin_unit);
  $(current_selected_component).css('marginLeft',ui.value  + margin_unit);
  }
  $('#'+$(this).attr('css')+'-value').html(ui.value+''+ margin_unit);
  }
  });
  $('.margin-auto-btn').click(function(event) {
  $(current_selected_component).css('margin-'+$(this).attr('pos'),'auto');
  $('#margin-'+$(this).attr('pos')+'-value').text('auto');
  $(this).siblings('.epan-component-margin').slider('option','value',0);
  $(this).siblings('.epan-component-margin').slider('refresh');
  });
  $('#epan-all-padding-same').click(function(event) {
  if($('#epan-all-padding-same:checked').size() > 0){
  $('.epan-component-padding').not('#epan-component-padding-top').slider('disable');
  is_all_padding_same =true;
  }else{
  $('.epan-component-padding').slider('enable');
  is_all_padding_same =false;
  }
  });
  $('#epan-all-margin-same').click(function(event) {
  if($('#epan-all-margin-same:checked').size() > 0){
  $('.epan-component-margin').not('#epan-component-margin-top').slider('disable');
  is_all_margin_same =true;
  }else{
  $('.epan-component-margin').slider('enable');
  is_all_margin_same =false;
  }
  });
  $('#epan-all-padding-unit-px').click(function(event) {
  padding_unit = 'px';
  });
  $('#epan-all-padding-unit-per').click(function(event) {
  padding_unit = '%';
  });
  $('#epan-all-margin-unit-px').click(function(event) {
  margin_unit = 'px';
  });
  $('#epan-all-margin-unit-per').click(function(event) {
  margin_unit = '%';
  });
  $('[repeat-background]').click(function(event) {
  $('[repeat-background]').removeClass('btn-primary');
  $(this).addClass('btn-primary');
  $(current_selected_component).css('background-repeat',$(this).attr('repeat-background'));
  });
  $('#epan-all-border-same').click(function(event) {
  if($('#epan-all-border-same:checked').size() > 0){
  is_all_border_same =true;
  }else{
  is_all_border_same =false;
  }
  });

  //Border Radius
  $('.epan-border-radius').change(function(event){
    $(current_selected_component).css($(this).attr('pos'),$(this).val());
    $(current_selected_component).css('-moz-'+$(this).attr('pos'),$(this).val());
    $(current_selected_component).css('-webkit-'+$(this).attr('pos'),$(this).val());
  });

  //CSS TRANSFORM
  $('.epan-component-transform').slider({
    slide: function(event,ui){
        if($(this).attr('css-syntax') == 'rotate'){
          var rotate = '('+ui.value+'deg)';
          $('.epan-component-transform-rotate-value').html(rotate).attr($(this).attr('css-syntax'),rotate);
        }
        
        if($(this).attr('css-syntax') == 'scale'){
          var scale =  '('+ui.value+','+ui.value+')';
          $('.epan-component-transform-scale-value').html(scale);
          $('.epan-component-transform-scale-value').attr($(this).attr('css-syntax'),scale);
        }

        if($(this).attr('css-syntax') == 'skew'){
          var skew =  '('+ui.value+'deg,'+ui.value+'deg)';
          $('.epan-component-transform-skew-value').html(skew);
          $('.epan-component-transform-skew-value').attr($(this).attr('css-syntax'),skew);
        }
        
        if($(this).attr('css-syntax') == 'translate'){
          var translate =  '('+ui.value+'px,'+ui.value+'px)';
          $('.epan-component-transform-translate-value').html(translate);
          $('.epan-component-transform-translate-value').attr($(this).attr('css-syntax'),translate);
        }


        var transform_value = 'rotate'+$('.epan-component-transform-rotate-value').attr('rotate');
        transform_value += ' scale'+$('.epan-component-transform-scale-value').attr('scale');
        transform_value += ' skew'+$('.epan-component-transform-skew-value').attr('skew');
        transform_value += ' translate'+$('.epan-component-transform-translate-value').attr('translate');
        
        $(current_selected_component).css('transform',transform_value);
        $(current_selected_component).css('-webkit-transform',transform_value);
        $(current_selected_component).css('-moz-transform',transform_value);
        $(current_selected_component).css('-o-transform',transform_value);
        $(current_selected_component).css('-ms-transform',transform_value);
        

        //- console.log($(this).attr('unit'));    
    }
  });

  $('.epan-component-transform-rotate').slider({
    min: -360,
    max: 360,
  });

  $('.epan-component-transform-scale').slider({
    min: -100,
    max: 100,
  });

  $('.epan-component-transform-skew').slider({
    min: -180,
    max: 180,
  });

  $('.epan-component-transform-translate').slider({
    min: -100,
    max: 100,
  });


  $('.epan-border-width').keyup(function(event) {
  // console.log('border-'+$(this).attr('pos')+'-width',$(this).val());
  if(is_all_border_same)
  $(current_selected_component).css('border-width',$(this).val());
  else
  $(current_selected_component).css('border-'+$(this).attr('pos')+'-width',$(this).val());
  });
  $('.epan-border-color').change(function(event) {
  // console.log('border-'+$(this).attr('pos')+'-color','#'+$(this).val());
  if(is_all_border_same)
  $(current_selected_component).css('border-color','#'+$(this).val());
  else
  $(current_selected_component).css('border-'+$(this).attr('pos')+'-color','#'+$(this).val());
  });
  $('.epan-border-style').change(function(event) {
  // console.log('border-'+$(this).attr('pos')+'-style',$(this).attr('style'));
  if(is_all_border_same)
  $(current_selected_component).css('border-style',$(this).val());
  else
  $(current_selected_component).css('border-'+$(this).attr('pos')+'-style',$(this).val());
  $(this).siblings().removeClass('btn-primary');
  $(this).addClass('btn-primary');
  });
  $('#epan-component-width-in-per').click(function(event) {
  $(current_selected_component).css('width',$('#epan-component-width-input').val()+'%');
  });
  $('#epan-component-width-in-px').click(function(event) {
  $(current_selected_component).css('width',$('#epan-component-width-input').val()+'px');
  });
  $('#epan-component-width-auto').click(function(event) {
  $(current_selected_component).css('width','auto');
  });
  $('#epan-component-width-max').click(function(event) {
  $(current_selected_component).css('max-width','100%');
  });
  $('#epan-component-height-in-per').click(function(event) {
  $(current_selected_component).css('height',$('#epan-component-height-input').val()+'%');
  });
  $('#epan-component-height-in-px').click(function(event) {
  $(current_selected_component).css('height',$('#epan-component-height-input').val()+'px');
  $(current_selected_component).css('overflow','hidden');
  });
  $('#epan-component-height-auto').click(function(event) {
  $(current_selected_component).css('height','auto');
  });
  $('#epan-component-height-max').click(function(event) {
  $(current_selected_component).css('max-height','100%');
  });
  //  GET OPTIONS FROM CURRENT SELECTED COMPONENT
  function init_css_options(){
  $('#epan-background-color').val($(current_selected_component).css('background-color'));
  $('.epan-background-color .current-color').css('background-color',$(current_selected_component).css('background-color'));
  $('#epan-text-color').val($(current_selected_component).css('color'));
  $('.epan-text-color .current-color').css('background-color',$(current_selected_component).css('color'));
  $('#epan-component-padding').val($(current_selected_component).css('padding'));
  $('#epan-component-margin').val(
  $(current_selected_component).css('margin-top') + ' ' +
  $(current_selected_component).css('margin-right') + ' ' +
  $(current_selected_component).css('margin-bottom') + ' ' +
  $(current_selected_component).css('margin-left')
  );
  $('#epan-component-extra-clases').val($(current_selected_component).attr('data-extra-classes'));
  $('#epan-component-background-image-input').val($(current_selected_component).css('background-image'));
  if($(current_selected_component).css('background-attachment') == 'fixed'){
  $('#epan-component-background-fixed').addClass('btn-primary');
  }else{
  $('#epan-component-background-scroll').addClass('btn-primary');
  }
  // Set Paddings from current component
  if($(current_selected_component)[0].style.paddingTop.indexOf('px') != -1){
  padding_unit = 'px';
  $('#epan-all-padding-unit-px').prop('checked', true);
  $('#epan-all-padding-unit-per').removeAttr('checked');
  }else{
  padding_unit = '%';
  $('#epan-all-padding-unit-per').prop('checked', true);
  $('#epan-all-padding-unit-px').removeAttr('checked');
  }
  if($(current_selected_component)[0].style.paddingTop.length > 0){
  $('#epan-component-padding-top').slider('value',parseInt($(current_selected_component)[0].style.paddingTop));
  $('#epan-component-padding-right').slider('value',parseInt($(current_selected_component)[0].style.paddingRight));
  $('#epan-component-padding-bottom').slider('value',parseInt($(current_selected_component)[0].style.paddingBottom));
  $('#epan-component-padding-left').slider('value',parseInt($(current_selected_component)[0].style.paddingLeft));
  }else{
  $('#epan-component-padding-top').slider('value','0');
  $('#epan-component-padding-right').slider('value','0');
  $('#epan-component-padding-bottom').slider('value','0');
  $('#epan-component-padding-left').slider('value','0');
  }
  // Set margin
  if($(current_selected_component)[0].style.marginTop.indexOf('px') != -1){
  margin_unit = 'px';
  $('#epan-all-margin-unit-px').prop('checked', true);
  $('#epan-all-margin-unit-per').removeAttr('checked');
  }else{
  margin_unit = '%';
  $('#epan-all-margin-unit-per').prop('checked', true);
  $('#epan-all-margin-unit-px').removeAttr('checked');
  }
  if($(current_selected_component)[0].style.marginTop.length > 0){
  $('#epan-component-margin-top').slider('value',parseInt($(current_selected_component)[0].style.marginTop));
  $('#epan-component-margin-right').slider('value',parseInt($(current_selected_component)[0].style.marginRight));
  $('#epan-component-margin-bottom').slider('value',parseInt($(current_selected_component)[0].style.marginBottom));
  $('#epan-component-margin-left').slider('value',parseInt($(current_selected_component)[0].style.marginLeft));
  }else{
  $('#epan-component-margin-top').slider('value','0');
  $('#epan-component-margin-right').slider('value','0');
  $('#epan-component-margin-bottom').slider('value','0');
  $('#epan-component-margin-left').slider('value','0');
  $('#epan-all-margin-unit-px').prop('checked', true);
  margin_unit='px';
  }
  // Background Repeat
  $('[repeat-background]').removeClass('btn-primary');
  $("[repeat-background='"+ $(current_selected_component).css('background-repeat') +"']").addClass('btn-primary');
  // Border Initialization
  border_positions=['top','right','bottom','left'];
  $.each(border_positions, function(p_index, pos_val) {
  if($(current_selected_component).css('border-'+pos_val+'-width')){
  $('#epan-component-border-'+pos_val+'-width').val($(current_selected_component).css('border-'+pos_val+'-width'));
  $('#epan-component-border-'+pos_val+'-color').val($(current_selected_component).css('border-'+pos_val+'-color'));
  $('.epan-border-style[pos="'+pos_val+'"]').removeClass('btn-primary');
  $('.epan-border-style[pos="'+pos_val+'"][style="'+$(current_selected_component).css('border-'+pos_val+'-style')+'"]').addClass('btn-primary');
  $('.epan-component-border-'+pos_val+'-color .current-color').css('background-color',$(current_selected_component).css('border-'+pos_val+'-color'));
  }
  });
  // TODO Get current width and put in Options
  $('#epan-component-width-input').val('');
  
  
  //TRANSFORM INITIALIZATION
  var tr = $(current_selected_component).css('transform');
  var regExp = /\(([^)]+)\)/g;
  var matches = tr.match(regExp);
  
  for (var i = 0; i < matches.length; i++) {
    var str = matches[i];
      if(i==0){
        $('.epan-component-transform-rotate-value').html(matches[i]);
        //- var set_value_rotate = matches[0].match(/[-*]\d+/);
        //- $('.epan-component-transform-rotate').slider('value',set_value_rotate[0]);
      }else if(i==1){
        $('.epan-component-transform-scale-value').html(matches[i]);
        //- var set_value_scale = matches[0].match(/[-*]\d+/);
        //- $('.epan-component-transform-scale').slider('value',set_value_scale[0]);
      }else if(i==2){
        $('.epan-component-transform-skew-value').html(matches[i]);
        //- var set_value_skew = matches[0].match(/[-*]\d+/);
        //- $('.epan-component-transform-skew').slider('value',set_value_skew[0]);
      }else if(i==3){
        $('.epan-component-transform-translate-value').html(matches[i]);
        //- var set_value_translate = matches[0].match(/[-*]\d+/);
        //- $('.epan-component-transform-translate').slider('value',set_value_translate[0]);
      }

    
  }
  //- $('.epan-component-transform-rotate').slider('value',parseInt($(current_selected_component)[0].style.marginTop));

  }
