.epan-frontend-editing-toolbar(id='{$_name}', class='{$class1}')
    .components-section
        .tools-panel.content
            .clearfix
                | {$tools}
    #epan-frontend-editing-toolbar-breadcrumb
        | This is breadcrumb : An Easy way to select your elements ...
#epan-quick-component-options.col-md-12
    .option-drag-handler
        i.glyphicon.glyphicon-move
        | 		Options
        i#epan-quick-component-options-close.glyphicon.glyphicon-remove.pull-right(style='margin-right:20px')
    #common-options-div
        | {$common_css_options}
