
<div id="{$_name}" class="epan-frontend-editing-toolbar {$class1}">
  <div class="components-section">
    <div class="tools-panel content">{$tools}</div>
  </div>
  <div id="epan-frontend-editing-toolbar-breadcrumb">This is breadcrumb : An Easy way to select your elements ...</div>
</div>
<div id="epan-quick-component-options" class="col-md-12">
  <div class="option-drag-handler"><i class="glyphicon glyphicon-move"></i>		Options<i id="epan-quick-component-options-close" style="margin-right:20px" class="glyphicon glyphicon-remove pull-right"></i></div>
  <div id="common-options-div">{$common_css_options}</div>
</div>