<div>
	<h4> Slide show component is a collection of various slide shows. Currently there are following slide shows are available.
	</h4>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#bootstrap" role="tab" data-toggle="tab">BootStrap Carausel</a></li>
  <li><a href="#awesome" role="tab" data-toggle="tab">Awesome Slider</a></li>
  <li><a href="#water-wheel" role="tab" data-toggle="tab">Water Wheel  Slider</a></li>
  <li><a href="#thumbnail" role="tab" data-toggle="tab">Thumbnail Slider </a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="bootstrap">
  	<br>
   	<div>
		<h2><center>Bootstrap Carousel Slider</center></h2>
		<h4>
   			The Bootstrap carousel is a flexible, responsive way to add a slider to your site. It is simple, effective and easy to use. It is client side component.
		</h4>
	</div>
	<div class="row" style="margin:auto 0 auto 0;">
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/k5.png" style="width:100%;max-width:100%;"class="img-thumbnail">
		</div>
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/k6.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/k7.png" style="	width:100%;max-width:100%;"class="img-thumbnail">
		</div>
	</div>
	<br>
	<div>
		<h4>Major features of Bootstrap Carousel slide show :</h4>
		<h4><ul><li>user can easily add images.</li>
				<li>user can set the height and width of slide show component.</li>
				<li>user can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
			</ul></h4>
	</div>	

</div>
<div class="tab-pane" id="awesome">
   <br>
  	<div>
		<h2><center>Awesome Slider</center></h2>

		<h4>The Awesome Slider makes displaying your gallery of images a beautiful experience, by using amazing transition effects ranging from slicing and sliding to fading and folding. There simply is no better way to showcase your amazing work than to make the presentation of it looks just as beautiful. It is server side component.
		</h4>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/3.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/2.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		<div class="col-md-4 col-sm-4">
			<img src="epan-components/slideShows/templates/images/4.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-5">
			<h4>Major features of Awesome Slider:</h4>
			<h4><ul><li>user can add multiple images.</li>
				 	<li>user can add pause time.</li>
				 	<li>user can enable or disable mouse hover stop side and side-navbar.</li>
				 	<li>user can set the position of paginator.</li>
				 	<li>user can easily select the path of the folder of images.</li>
				 	<li>user can select the order of images.</li>
				 	<li>user can select various effects for the each images.</li>
				 	<li>user can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
				 </ul></h4>
		</div>
		<div class="col-md-7">
			<h4 class="alert-alert-info"><center>Gallary Options</center></h4>
			<img src="epan-components/slideShows/templates/images/k11.png" style="width:100%;max-width:100%;" class="img-thumbnail">
			<h4 class="alert-alert-info"><center>Image Options</center></h4>
			<img src="epan-components/slideShows/templates/images/k12.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
	</div>
</div>
<div class="tab-pane" id="water-wheel">
   <br>
  	<div>
		<h2><center>Water Whell Carousel Slider</center></h2>

		<h4>The Water Wheel Carousel Slider makes displaying your gallery of images a beautiful experience, by using amazing Horizontal & Vertical effects ranging from Carousel Circle. There simply is no better way to showcase your amazing work than to make the presentation of it looks just as beautiful. It is server side component.
		</h4>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h4 class="text-center">Horizontal Layout</h4>
			<img src="epan-components/slideShows/templates/images/horizontalwater.png" style="width:100%;max-width:100%;" class="img-thumbnail"></br></br></br>

			<h4 class="text-center">Vertical Layout</h4>
			<img src="epan-components/slideShows/templates/images/watervertical.png" style="width:50%;max-width:100%;" class="img-thumbnail">
		</div>
		
		<div class="col-md-6">
			<h4>Major features of Water Wheel Slider:</h4>
			<h4><ul><li>user can add multiple images.</li>
				 	<li>user can Show Images Your Choice.</li>
				 	<li>user can Select Horizontal and Vertical Slider Orientation.</li>
				 	<li>user can Set Size-Multiplizer between Slider Images</li>
				 	<li>user can Select Animation Linear and Swing In Water Wheel Slider</li>
				 	<li>user Can Set Opacity and Separation User Own Choice </li>
				 	<li>user can Enable and Disable Slider Auto Play </li>
				 	<li>user can Enable and Disable Slider Keyboard Navigation </li>
				 </ul></h4>
			<h4 class="alert-alert-info"><center>Gallary Options</center></h4>
			<img src="epan-components/slideShows/templates/images/watergallery.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h4 class="alert-alert-info"><center>Image Options</center></h4>
			<img src="epan-components/slideShows/templates/images/waterimages.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>	
		<div class="col-md-6">
			<h4 class="alert-alert-info"><center>Gallart Select Options</center></h4>
			<img src="epan-components/slideShows/templates/images/waterwheel3select.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
	</div>
</div>
<div class="tab-pane" id="thumbnail">
    <br>
  	<div>
		<h2><center>Thumbnail Slider</center></h2>

		<h4>The Thumbnail Slider makes displaying your Multiple Slideing of Images a beautiful experience, by using amazing Horizontal & Vertical effects ranging from Carousel Slide. There simply is no better way to showcase your amazing work than to make the presentation of it looks just as beautiful. It is server side component.
		</h4>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h4 class="text-center">Horizontal Layout</h4>
			<img src="epan-components/slideShows/templates/images/thumbhorizontal.png" style="width:100%;max-width:100%;" class="img-thumbnail"></br></br></br>

			<h4 class="text-center">Vertical Layout</h4>
			<img src="epan-components/slideShows/templates/images/thumbver.png" style="width:50%;max-width:100%;" class="img-thumbnail">
		</div>
		
		<div class="col-md-6">
			<h4>Major features of Thumbnail Slider:</h4>
			<h4><ul><li>user can add multiple images.</li>
				 	<li>user can Select Horizontal and Vertical Slider Direction.</li>
				 	<li>user can Set Scroll Intervail  In Thumnail Slider</li>
				 	<li>user can Set Scroll Duration  In Thumnail Slider</li>
				 	<li>User can enable and disable mouseover slide </li>
				 	<li>user can paly and Stop Auto Play Slider </li>
				 </ul></h4>
			<h4 class="alert-alert-info"><center>Gallary Options</center></h4>
			<img src="epan-components/slideShows/templates/images/thumgalery.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<h4 class="alert-alert-info"><center>Image Options</center></h4>
			<img src="epan-components/slideShows/templates/images/thumbimage.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>	
		<div class="col-md-4">
			<h4 class="alert-alert-info"><center>Gallart Select Options</center></h4>
			<img src="epan-components/slideShows/templates/images/thumbselect.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		<div class="col-md-4">
			<h4 class="alert-alert-info"><center>Gallart Edit CSS Options</center></h4>
			<img src="epan-components/slideShows/templates/images/thumbcss.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
	</div>
</div>	
</div>
