<div>
	<h4 class="text-center">xEnquiryNSubscription module is used for data collection. It is a simple technique to receive and send the data. Both the client and site-owner can use this module.
	</h4>
</div>
	<ul class="nav nav-tabs" role="tablist">
  			<li class="active"><a href="#enquiry" role="tab" data-toggle="tab">Enquiry Form</a></li>
  			<li ><a href="#subscription" role="tab" data-toggle="tab">Subscription Module</a></li>
  			<li ><a href="#custom_enquiry" role="tab" data-toggle="tab">Custom Form</a></li>
 	</ul>
      <div class="tab-content ">
  		    <div class="tab-pane active" id="enquiry">
  			<br>
   				<div>
					<h2><center>Enquiry Form</center></h2>
					<h4>
						Enquiry form is a component that includes a page on a Web site that allows users to communicate with the site owner. The page has fields for filling in name, message, address and e-mail. It is a basic form.
   					</h4>
				</div>
						<div class="row" style="margin-top:2%">
								<div class="col-md-5">
							<h4 class="text-center"><b>Major features of Enquiry Form :</b></h4>
							<h4><ul>
								<li>User can change the title of the form.</li>
								<li>User can select the order of the fields.</li>
								<li>User can mention the e-mail address of the person in receipent, who is receiving the information. </li>
								<li>User can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
								<li>User can live edit the description.</li>
								<li>For more customize form user can use custom form.</li>
							</ul></h4>
								</div>
								<div class="col-md-7">
									<img src="epan-components/xEnquiryNSubscription/templates/images/enquiry1.png" style="width:100%;max-width:100%;" class="img-thumbnail">
								</div>
						</div>		
			</div>
  		    <div class="tab-pane " id="subscription">
  			<br>
   				<div>
					<h2><center>Subscription Module</center></h2>
					<h4>
						Subscription Module is Server Side component that includes a Newletters and Subscriber to  allows site owner to communicate with the user. Subscription Module Fully Customizable and it Used Mandril API Service to Send Multiple E-Mails To Other users. 
   					</h4>
				</div>
						<div class="row" style="margin-top:2%">
								<div class="col-md-5">
							<h4 class="text-center"><b>Major features of Enquiry Form :</b></h4>
							<h4><ul>
								<li>User can add Multiple subcription Module Own Site to allow Subscriber .</li>
								<li>User can Create Beautiful Newletter and Send mail To Multiple Users</li>
								<li>User can Configure Email Message Body and Subjects </li>
								<li>User can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
								<li>User can upload CSV Format Data Files to Send Email</li>
							</ul></h4>
								</div>
								<div class="col-md-7 text-center">
									<h4><b>Create Category </b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/xenquirycat.png" style="width:100%;max-width:100%;" class="img-thumbnail">
								</div>
						</div>
						<div class="row" style="margin-top:3%">
							<div class="col-md-4">
									<h4><b>Manage Subscription Config </b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/catconfig.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Create Subscription Data List</b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/addsubs.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Upload CSV Subscription Data Files</b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/uploadcsvdata.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
						</div>
						<div class="row text-center" style="margin-top:3%">
							<div class="col-md-4">
									<h4><b>Create Newsletter </b> </h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/newslettercreate.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Email Configuration</b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/usemandril.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Select Your Subscription Category</b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/selectcatesub.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
						</div>				
		</div>	
  		    <div class="tab-pane " id="custom_enquiry">
  			<br>
   				<div>
					<h2><center>Custom Enquiry Form</center></h2>
					<h4>
						Custom Enquiry form is a Server Side component that includes a page on a Web site that allows users to communicate with the site owner. The page has fields for filling User Requirment To added Custom Form Fields. It is a More advanced And User Requirment Form.
   					</h4>
				</div>
						<div class="row" style="margin-top:2%">
							<div class="col-md-5 "style="text-transform: capitalize">
								<h4><b>Major features of Custom Enquiry Form :</b></h4>
									<h4>
									<ul>
										<li>User can Add Multiple Fields in a single form acoording to our requirement with validation.</li>
										<li>User can add one or multiple captcha on a single form.</li>
										<li>User can mention the e-mail address in receipent on Backend Side, who is receiving the information. </li>
										<li>User can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
										<li>User can set compulsory Fields Validation Or Not.</li>
										<li>user can design multiple form. </li>
									</ul>
									</h4>
							</div>
							<div class="col-md-7">
									<img src="epan-components/xEnquiryNSubscription/templates/images/addcustomeform.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
						</div>
						<div class="row text-center" style="margin-top:2%">
							<div class="col-md-4">
									<h4><b> Add Custom Fields </b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/customfield.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Add Expandable Fields</b></h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/expandebalefield.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							<div class="col-md-4">
									<h4><b>Select Your Custom Form</b> </h4>
									<img src="epan-components/xEnquiryNSubscription/templates/images/selectform.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							</div>
							
						</div>		
		</div>
		</div>	
