<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">

	<div class="panel-group" id="accordion">
		<div class="xepan-collasp-header component-header">
		 	<div class="panel-heading">
		      	<h3 class="panel-title">
		        	<a data-toggle="collapse" data-parent="#accordion"	 href="#collapse-enquiry-subscription">
						{$component_type_name}
		        	</a>
		      	</h3>
		   	</div>
		 	<div id="collapse-enquiry-subscription" class="panel-			collapse collapse">
		      	<div class="panel-body">
		      		<div class='xepan-collasp-header'>
						<table class="table table-condensed table-hover">
						<tr>
							<td>
								<b>Subscription Category</b>
							</td>
							<td colspan="2">
								<select id='xEnquiryNSubscription_Subscription_Categories'>
								</select>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div><button id='xEnquirySubscriptionServerSide'>Server Side</button></div>

</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selected_component).what to do ???
// }) 
$('#xEnquirySubscriptionServerSide').click(function(event){
	$('#epan-quick-component-options').toggle('slideup');
	$.univ.frameURL('Subscription Module Form','index.php?page=xEnquiryNSubscription_page_owner_subscriptions')
});

$('#xEnquiryNSubscription_Subscription_Categories').change(function(event) {
	$(current_selected_component).attr('data-options',$('#xEnquiryNSubscription_Subscription_Categories').val());
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

var {$component_type}_options = {
	show: function (){
		$.ajax({
			url: 'index.php?page=xEnquiryNSubscription_page_subscribecats&cut_page=1',
			type: 'GET',
			data: {param1: 'value1'},
		})
		.done(function(ret) {
			$('#xEnquiryNSubscription_Subscription_Categories').html('<option value="">Please Select ...</option>'+ret);
			console.log("success");
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
	}
}
</script>
