<div>

	<h4>Google Image Gallery is a collection of images.
	 After clicking on image,image size becomes large.
		</h4>.

</div>
<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#googleimagegallery" role="tab" data-toggle="tab">Google Image Gallery</a><li>
	  </ul>
	  <div class="tab-content">
	  <div class="tab-pane-active" id="googleimagegallery">
	  <br>
	  		<div>
	  			<h2><center>Google Image Gallery</center></h2>
		<h4>
   			In google image gallery we can add images as category wise.
		</h4>
			</div>


			<div class="row" style="margin:auto 0 auto 0;">
			<div class="col-md-6 col-sm-6">
		<img src="epan-components/xImageGallery/templates/images/s1k.png" style="width:100%;max-width:100%;"class="img-thumbnail">
		</div>
		<div class="col-md-6 col-sm-6">
		<img src="epan-components/xImageGallery/templates/images/s2k.png" style="width:100%;max-width:100%;" class="img-thumbnail">
		</div>
		
</div>


	  		<h2><center> Features Of Google Image Gallery</center></h2>
	  		<h4><ul>
	  	<li>User can add multiple category of images.</li>
		<li>User can also change in css easily.</li>
		<li>User can add title and description of image.</li>
		<li>User can change text color and font.</li>
		<li>User can set comp.width and height.</li>
		<li>User can change margin,padding and background color.</li>
			</ul></h4>




	  		</h4>
	  		</div>
	  	</div>
	  </div>
	
