div.epan-container.epan-sortable-component.epan-component({$attributes}="" id="{$_name}" class=" {$class}" style="width:100% {$style}" component_type='Container', component_namespace='baseElements' data-extra-classes="")  &#x9; 
	link(rel='stylesheet', href='epan-components/xLayouts/templates/css/weblayout1/weblayoutstyle1.css')
	div.atk-row.epan-sortable-component.epan-component.weblayout1-header(id="weblayout1-header-row" data-extra-classes="weblayout1-header" style=' ', component_type='atk-row', component_namespace='baseElements')  &#x9; 
		div.editor.epan-component.text-right(id="weblayout1-header-text" data-extra-classes="" contenteditable='true', style=' ', component_type='Text', component_namespace='baseElements')  &#x9; 
			i.icon-mobile Contact us :. 9829123456 &nbsp;
			i.icon-mail  E-mail :. example@example.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		div.atk-col-2.epan-sortable-component.epan-component(data-extra-classes=" " id='weblayout1-header-logo-col4' style=' ' span='2' component_type='Column', component_namespace='baseElements')  &#x9; 
			div.epan-component(data-extra-classes=" " id="weblayout1-header-logo-image" style=" " component_type="Image" component_namespace="baseElements" )
				img(data-extra-classes=" " style="max-width:100%; height: auto; width:100%" src="templates/images/logo.png")

		div.atk-col-1.epan-sortable-component.epan-component(data-extra-classes=" " id='weblayout1-header-col1' span='1' style=' ' component_type='Column', component_namespace='baseElements')  &#x9; 
		div.atk-col-9.epan-sortable-component.epan-component.weblayout1-navbar-col(data-extra-classes="weblayout1-navbar-col" id='weblayout1-header-navbar-col9' span='9' style=' ' component_type='Column', component_namespace='baseElements')  &#x9; 
			nav.navbar.navbar-default.epan-component(data-extra-classes="" id="bootstrap-navbar" role='navigation' style='' component_type='BootstrapMenus' component_namespace='xMenus')
				.navbar-header
					button.navbar-toggle(data-target='.navbar-ex1-collapse', data-toggle='collapse', type='button')
						span.sr-only Toggle navigation
							|&#x9;&#x9;&#x9;&#x9;
						span.icon-bar
							|&#x9;&#x9;&#x9;&#x9;
						span.icon-bar
							|&#x9;&#x9;&#x9;&#x9;
						span.icon-bar
							|&#x9;&#x9;&#x9;
					.epan-component.epan-sortable-component.editor.navbar-brand.ui-sortable(contenteditable='true', component_namespace='baseElements', component_type='Container')
						a(href='#') Title
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul#xMenu-boostrap-ul.nav.navbar-nav.ui-sortable.weblayout1-sf-menu
						li.active.ui-sortable-handle
							a(href='#') Link
								|&#x9;&#x9;&#x9;&#x9;
						li.ui-sortable-handle
							a(href='#') Link
								|&#x9;&#x9;&#x9;
					.epan-sortable-component.epan-component.navbar-form.navbar-left.ui-sortable(component_namespace='baseElements', component_type='Container', style='')  &#x9;&#x9;&#x9;&#x9; &#x9;&#x9;&#x9;
				script(type='text/javascript').
					$(function(){
						$('#__COMPONENTID__').find('#xMenu-boostrap-ul').sortable();
						$('#__COMPONENTID__').find('#xMenu-boostrap-ul').find('ul.dropdown-menu').sortable();
					});
					
	.slide.epan-component(id='weblayout1-header-carousel_slide1' data-extra-classes=" " class='{$class}', style='position:relative; {$style}' component_type="BootStrapCarousel" component_namespace="slideShows" )
		.carousel-inner
			div.item.active
				a(href="#")
					img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide/slide1.jpg" style="width:100%")
			div.item
				a(href="#")
					img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide/slide2.jpeg" style="width:100%")
			div.item
				a(href="#")
					img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide/slide3.jpg" style="width:100%")
		a.left.carousel-control(href='#carousel_slide1', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left
				|&#x9;  
		a.right.carousel-control(href='#carousel_slide1', data-slide='next')
			span.glyphicon.glyphicon-chevron-right
				|&#x9;
		script(type='text/javascript').
			$(function(){
				$('#carousel_slide1').carousel();
			});

	div.atk-row.epan-sortable-component.epan-component.atk-padding.atk-align-center(id="weblayout1-header-middle-row" data-extra-classes="atk-padding " style=' ', component_type='atk-row', component_namespace='baseElements')  &#x9; 
		div.atk-col-7.epan-sortable-component.epan-component(id="weblayout1-header-middle-col7" data-extra-classes=" " style=' ' span='7' component_type='Column', component_namespace='baseElements')  &#x9; 
			div.epan-component.component-outline.atk-align-center(id="weblayout1-header-middle-title" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
				h3.editor(data-extra-classes="" contenteditable='true') Content Heading
			div.editor.epan-component.atk-padding(id="weblayout1-header-middle-text" data-extra-classes=" " contenteditable='true', style='text-align:justify ', component_type='Text', component_namespace='baseElements')  &#x9;Lorem ipsum dolor sit amet, an pro nostro deserunt. Duo purto civibus iudicabit no. Nostrud equidem euripidis ei vix. Fugit nonumes patrioque mea ad, vim eu omittam accusamus. Mundi perfecto concludaturque et est, his graeco appetere no. Exerci invenire dissentiunt in sed, posse debet erroribus vis ei. Eum at option quaerendum. Sed odio eius molestie id, mea fabulas veritus suavitate an, te adhuc movet insolens quo. Cu atqui torquatos duo. Omittam conceptam no eum. Reque labitur atomorum sea et, posse appellantur id per, cu cum quodsi legendos salutatus. Nam populo iuvaret et. Ut wisi aliquando vim, duo ut solum diceret repudiare. Ad viris saepe pri. Ut enim fuisset temporibus eos. Nam dicta aeterno torquatos an, cum ne natum vulputate comprehensam, vim eu vivendo salutatus principes. Vel te accusamus molestiae. Sed eleifend inimicus ad, mei quod cibo iusto ut, in sed viris reformidans. Nam ne dico animal. Usu no etiam iriure percipit. Docendi ocurreret vel at, id sit duis tacimates principes. Te mel bonorum pertinax incorrupte, recusabo salutandi in nam. Ius ut prima bonorum accusam, cum ei dictas constituam, liber gloriatur ullamcorper te pri. Id mea mundi nostrud, mei eu euismod ocurreret, ad nam summo conclusionemque. Ea sit liber altera honestatis. Mucius vivendum salutandi sea et, vim cu facete docendi copiosae. Cu viris commodo offendit mea, cu tamquam deserunt delicata sea, expetenda imperdiet constituam te vel. Cum officiis evertitur no. Vel ea offendit suscipit dissentiunt, forensibus ullamcorper delicatissimi ei has, no stet dicam euismod pri. 

		div.atk-col-5.epan-sortable-component.epan-component(id="weblayout1-header-middle-col5" data-extra-classes=" " style=' ' span='5' component_type='Column', component_namespace='baseElements')  &#x9;
			.slide.epan-component(data-extra-classes=" " id='weblayout1-header-middle-carousel_slide2' class='{$class}', style='position:relative; {$style}' component_type="BootStrapCarousel" component_namespace="slideShows" )
				.carousel-inner
					div.item.active
						a(href="#")
							img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide1.jpeg" style="width:100%")
					div.item
						a(href="#")
							img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide2.jpeg" style="width:100%")
					div.item
						a(href="#")
							img.img-responsive(src="epan-components/xLayouts/templates/images/webdesign1/slide3.jpeg" style="width:100%")
				a.left.carousel-control(href='#carousel_slide2', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
						|&#x9;  
				a.right.carousel-control(href='#carousel_slide2', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
						|&#x9;
				script(type='text/javascript').
					$(function(){
						$('#carousel_slide2').carousel();
					});
	div.atk-row.epan-sortable-component.epan-component.atk-padding(id="weblayout1-header-middle-atk-row" data-extra-classes="atk-padding" style=' ', component_type='atk-row', component_namespace='baseElements')  &#x9; 
		div.atk-col-4.epan-sortable-component.epan-component(id="weblayout1-header-middle-atk-col4-1" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
			div.epan-component.component-outline.atk-align-center(id="weblayout1-header-middle-atk-title-1" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
				h3.editor(contenteditable='true') Heading One
			div.epan-component(data-extra-classes=" " id="weblayout1-header-middle-atk-image-1" style=" " component_type="Image" component_namespace="baseElements" )
				img(data-extra-classes=" " style="" src="templates/images/logo.png")
			div.editor.epan-component.atk-padding-small.atk-align-center.atk-swatch-blue(id="weblayout1-header-middle-atk-text-1" data-extra-classes="atk-padding-small atk-align-center atk-swatch-blue" contenteditable='true', style=' ', component_type='Text', component_namespace='baseElements')
				|Button Text 1
		div.atk-col-4.epan-sortable-component.epan-component(id="weblayout1-header-middle-atk-col4-2" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
			div.epan-component.component-outline.atk-align-center(id="weblayout1-header-middle-atk-title-2" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
				h3.editor(contenteditable='true') Heading Two
			div.epan-component(data-extra-classes=" " id="weblayout1-header-middle-atk-image-2" style=" " component_type="Image" component_namespace="baseElements" )
				img(data-extra-classes=" " style="" src="templates/images/logo.png")
			div.editor.epan-component.atk-padding-small.atk-align-center.atk-swatch-blue(id="weblayout1-header-middle-atk-text-2" data-extra-classes="atk-padding-small atk-align-center atk-swatch-blue" contenteditable='true', style=' ', component_type='Text', component_namespace='baseElements')
				|Button Text 2
		div.atk-col-4.epan-sortable-component.epan-component(id="weblayout1-header-middle-atk-col4-3" data-extra-classes="" style='text-align:justify' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
			div.epan-component.component-outline.atk-align-center(id="weblayout1-header-middle-atk-title-3" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
				h3.editor(contenteditable='true') Heading Three
			div.epan-component(data-extra-classes=" " id="weblayout1-header-middle-atk-image-3" style=" " component_type="Image" component_namespace="baseElements" )
				img(data-extra-classes=" " style="" src="templates/images/logo.png")
			div.editor.epan-component.atk-padding-small.atk-align-center.atk-swatch-blue(id="weblayout1-header-middle-atk-text-3" data-extra-classes="atk-padding-small atk-align-center atk-swatch-blue" contenteditable='true', style=' ', component_type='Text', component_namespace='baseElements') 
				|Button Text 3

	div.epan-container.epan-sortable-component.epan-component.atk-padding.weblayout1-footer({$attributes}="" id="weblayout1-footer-container" class=" {$class}" style="width:100%;{$style}" component_type='Container', component_namespace='baseElements' data-extra-classes="atk-padding weblayout1-footer")
		div.atk-row.epan-sortable-component.epan-component(id="weblayout1-footer-row" data-extra-classes="" style=' ', component_type='atk-row', component_namespace='baseElements')  &#x9; 
			div.atk-col-3.epan-sortable-component.epan-component(id="weblayout1-footer-col3-1" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
				div.epan-component.component-outline.atk-align-center(id="weblayout1-footer-title-1" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
					h3.editor(contenteditable='true') SHOP
				div.editor.epan-component.atk-padding(id="weblayout1-footer-text-1" data-extra-classes="atk-padding" contenteditable='true', style='text-align:justify', component_type='Text', component_namespace='baseElements')
					| Lorem ipsum dolor sit amet, an pro nostro deserunt. Duo purto civibus iudicabit no. Nostrud equidem euripidis ei vix. Fugit nonumes patrioque mea ad, vim eu omittam accusamus. Mundi perfecto concludaturque et est, his graeco appetere no. Exerci invenire dissentiunt in sed, posse debet erroribus vis ei. Eum at option quaerendum. Sed odio eius molestie id, mea fabulas veritus suavitate an, te adhuc movet insolens quo. Cu atqui torquatos duo.
			div.atk-col-3.epan-sortable-component.epan-component(id="weblayout1-footer-col3-2" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
				div.epan-component.component-outline.atk-align-center(id="weblayout1-footer-title-2" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
					h3.editor(contenteditable='true') CORPORATE INFO
				div.editor.epan-component.atk-padding.atk-align-center(id="weblayout1-footer-text-2" data-extra-classes="atk-padding" contenteditable='true', style='text-align:justify', component_type='Text', component_namespace='baseElements')
					| Lorem ipsum dolor sit amet, an pro nostro deserunt. Duo purto civibus iudicabit no. Nostrud equidem euripidis ei vix. Fugit nonumes patrioque mea ad, vim eu omittam accusamus. Mundi perfecto concludaturque et est, his graeco appetere no. Exerci invenire dissentiunt in sed, posse debet erroribus vis ei. Eum at option quaerendum. Sed odio eius molestie id, mea fabulas veritus suavitate an, te adhuc movet insolens quo. Cu atqui torquatos duo.
			div.atk-col-3.epan-sortable-component.epan-component(id="weblayout1-footer-col3-3" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
				div.epan-component.component-outline.atk-align-center(id="weblayout1-footer-title-3" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
					h3.editor(contenteditable='true') HELP
				div.editor.epan-component.atk-padding(id="weblayout1-footer-text-3" data-extra-classes="atk-padding" contenteditable='true', style='text-align:justify', component_type='Text', component_namespace='baseElements')
					| Lorem ipsum dolor sit amet, an pro nostro deserunt. Duo purto civibus iudicabit no. Nostrud equidem euripidis ei vix. Fugit nonumes patrioque mea ad, vim eu omittam accusamus. Mundi perfecto concludaturque et est, his graeco appetere no. Exerci invenire dissentiunt in sed, posse debet erroribus vis ei. Eum at option quaerendum. Sed odio eius molestie id, mea fabulas veritus suavitate an, te adhuc movet insolens quo. Cu atqui torquatos duo.
			div.atk-col-3.epan-sortable-component.epan-component(id="weblayout1-footer-col3-4" data-extra-classes=" " style=' ' span='4' component_type='Column', component_namespace='baseElements')  &#x9; 
				div.epan-component.component-outline.atk-align-center(id="weblayout1-footer-title-4" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
					h3.editor(contenteditable='true') STAY IN THE KNOW
				div.editor.epan-component.atk-padding(id="weblayout1-footer-text-4" data-extra-classes="atk-padding" contenteditable='true', style='text-align:justify', component_type='Text', component_namespace='baseElements')
					| Lorem ipsum dolor sit amet, an pro nostro deserunt. Duo purto civibus iudicabit no. Nostrud equidem euripidis ei vix. Fugit nonumes patrioque mea ad, vim eu omittam accusamus. Mundi perfecto concludaturque et est, his graeco appetere no. Exerci invenire dissentiunt in sed, posse debet erroribus vis ei. Eum at option quaerendum. Sed odio eius molestie id, mea fabulas veritus suavitate an, te adhuc movet insolens quo. Cu atqui torquatos duo.
				div.epan-component.component-outline.atk-align-center(id="weblayout1-footer-title-4-1" data-extra-classes="atk-align-center" style=' ', component_type='Title', component_namespace='baseElements')
					h3.editor(contenteditable='true') FOLLOW US:
				div(id="weblayout1-htmlblock"  class=' {$class}' style=' {$style}')
					//- <!-- Go to www.addthis.com/dashboard to customize your tools -->
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551bdb6b11ecba37" async="async"></script>

					//- //- <!-- AddToAny BEGIN -->
					//- <a class="a2a_dd" href="https://www.addtoany.com/share_save"><img src="//static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
					//- <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
					//- //- <!-- AddToAny END -->

		