
<form id="web_xshop_view_tools_checkout" action="#" class="atk-form">
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Total</span></div>
      <div class="atk-form-row atk-form-field">{$total}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Discount Voucher</span></div>
      <div class="atk-form-row atk-form-field">{$discount_voucher}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Discount Amount</span></div>
      <div class="atk-form-row atk-form-field">{$discount_amount}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Net Amount</span></div>
      <div class="atk-form-row atk-form-field">{$net_amount}</div>
    </div>
  </div>
  <div style="border-top:none" class="atk-box-large atk-shape-rounded-bottom"></div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"> </div>
  <div class="atk-push"></div>
  <div class="atk-actions {$buttons_class}">{$FormButtons} </div>
</form>