
<form id="web_xshop_view_tools_checkout" action="#" class="atk-form">
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Billing Address</span></div>
      <div class="atk-form-row atk-form-field">{$address}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Shipping Address</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_address}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Landmark</span></div>
      <div class="atk-form-row atk-form-field">{$landmark}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Landmark</span></div>
      <div class="atk-form-row atk-form-field">{$s_landmark}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>City</span></div>
      <div class="atk-form-row atk-form-field">{$city}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>City</span></div>
      <div class="atk-form-row atk-form-field">{$s_city}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>State</span></div>
      <div class="atk-form-row atk-form-field">{$state}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>State</span></div>
      <div class="atk-form-row atk-form-field">{$s_state}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Country</span></div>
      <div class="atk-form-row atk-form-field">{$country}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Country</span></div>
      <div class="atk-form-row atk-form-field">{$s_country}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"> </div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Pin Code</span></div>
      <div class="atk-form-row atk-form-field">{$pincode}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Pin Code</span></div>
      <div class="atk-form-row atk-form-field">{$s_pincode}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Mobile No</span></div>
      <div class="atk-form-row atk-form-field">{$mobile_number}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Mobile No</span></div>
      <div class="atk-form-row atk-form-field">{$s_mobile_number}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Email</span></div>
      <div class="atk-form-row atk-form-field">{$email}</div>
    </div>
    <div class="atk-col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Email</span></div>
      <div class="atk-form-row atk-form-field">{$s_email}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"> </div>
  <div class="atk-row">
    <div class="atk-col-12">
      <div class="atk-cell atk-form-label atk-text-nowrap">
      </div>
      <div class="atk-form-row atk-form-field atk-align-center">{$copy_address}</div>
    </div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-12">
      <div class="atk-cell atk-form-label atk-text-nowrap">
      </div>
    </div>
    <div class="atk-form-row atk-form-field">{$i_read}</div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"> </div>
  <div class="atk-push"></div>
  <div class="atk-actions {$buttons_class}">{$FormButtons}</div>
</form>