
<form id="web_xshop_view_tools_checkout" action="#" class="atk-form">
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push">
    <div class="atk-row"></div>
    <div class="atk-push-xsmall"><span class="atk-text-bold">Payment Gateway Selected</span></div>
    <div class="atk-form-row atk-form-field">{$payment_gateway_selected}</div>
  </div>
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"> </div>
  <div class="atk-push"></div>
  <div class="atk-actions {$buttons_class}">{$FormButtons}  </div>
</form>