form.atk-form(id="web_xshop_view_tools_checkout" action="#")
      .atk-cells.atk-cells-justified.atk-cells-gutter.atk-push
        .atk-row
        .atk-push-xsmall
          span.atk-text-bold Payment Gateway Selected
        .atk-form-row.atk-form-field {$payment_gateway_selected}
      .atk-cells.atk-cells-justified.atk-cells-gutter.atk-push  
      .atk-push
      .atk-actions(class="{$buttons_class}") {$FormButtons}  
