
<form action="#" class="atk-form">
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp; </span></div>
      <div class="atk-form-row atk-form-field">{$address}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp; </span></div>
      <div class="atk-form-row atk-form-field">{$landmark}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp; </span></div>
      <div class="atk-form-row atk-form-field">{$city}    </div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp; </span></div>
      <div class="atk-form-row atk-form-field">{$state}    </div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp; </span></div>
      <div class="atk-form-row atk-form-field">{$country}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp;</span></div>
      <div class="atk-form-row atk-form-field">{$pincode}    </div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>&nbsp;</span></div>
      <div class="atk-form-row atk-form-field">{$mobile_number}</div>
    </div>
  </div>
  <div class="atk-push-small">      </div>
  <div class="atk-row"></div>
  <div class="atk-actions {$buttons_class}">{$FormButtons}</div>
</form>