
<form action="#" class="atk-form">
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="atk-row">
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Address</span></div>
      <div class="atk-form-row atk-form-field">{$address}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Billing Addess</span></div>
      <div class="atk-form-row atk-form-field">{$billing_address}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Shipping Address</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_address}    </div>
    </div>
  </div>
  <div class="atk-row">
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Landmark</span></div>
      <div class="atk-form-row atk-form-field">{$landmark}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>City</span></div>
      <div class="atk-form-row atk-form-field">{$city}    </div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>State</span></div>
      <div class="atk-form-row atk-form-field">{$state}    </div>
    </div>
  </div>
  <div class="atk-row">
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Country</span></div>
      <div class="atk-form-row atk-form-field">{$country}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Mobile Number</span></div>
      <div class="atk-form-row atk-form-field">{$mobile_number}</div>
    </div>
    <div class="atk-col-4">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Pin Code</span></div>
      <div class="atk-form-row atk-form-field">{$pincode}    </div>
    </div>
  </div>
  <div class="atk-push-small">      </div>
  <div class="atk-actions {$buttons_class}">{$FormButtons}</div>
</form>