<div class="" id="{$_name}"  class="{$class}" style="{$style} ">
	<div class="atk-size-mega page-header" style="margin-top:5px;">
		{$ticket_priority}{$subject}
	</div>
	<div class="row">
		<div class="col-md-10">
			<b>Customer: {$customer}<b>
			<hr/>
			<div class="atk-text-normal">
				{$ticket_message}
			</div>
		</div>
		<div class="col-md-2 text-right">
			{$human_date}<br/>{$created_at}
			<div class="atk-swatch-ink atk-box-small text-center">Attachments</div>
			{$attachment}
		</div>
	</div>
</div>
