<div id="{$_name}">
{$Content}

	<div class="row">
		<div class="col-md-4">
			<div>{$created_at}</div>
			<div>{$from_warehouse}</div>
			<div>{$from_supplier}</div>
			<div>{$from_memberdetails}</div>
			<div>{$material_request_jobcard}</div>
			<div>{$jobcard}</div>
			<div>{$po}</div>
			<div>{$dispatch_request}</div>
		</div>
		
		<div class="col-md-4 text-center">
			<div>{$status}</div>
		</div>
		<div class="col-md-4 text-right">
			<!-- To Department <b>{$to_dept}</b> <br> -->
			<div>{$to_warehouse}</div>
			<div>{$to_supplier}</div>
			<div>{$to_memberdetails}</div>
			<div>{$type}</div>
		</div>
	</div>	
		
	<table width='100%' class='table'>
		<tbody class='table-striped'>
			<tr>
				<th align="left">Sno</th>
				<th align="center">Item</th>
				<th align="right" class="text-right">Qty</th>
				<th align="right" class="text-right">Custom Fields</th>
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left">{$item}</td>
					<td align="right">{$qty}</td>
					<td align="right">{$custom_field}</td>
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
</div>

