<div id="{$_name}" class="{$Class}">
{$Content}
	<div class="row">
		<div class="col-md-4">
			{$request_on}<br/>
			{name}Material Request Number{/name}<br/>
			{order}Order Number{/order}
		</div>
		<div class="col-md-4 text-center">
			{$status}
		</div>
		<div class="col-md-4 text-right">
			{$to_dept}<br>
			{$form_dept}
		</div>
	</div>	
		
	<table width='100%' class='table'>
		<tbody class='table-striped'>
			<tr>
				<th align="left">Sno</th>
				<th align="center">Item</th>
				<th align="right" class="text-right">Qty</th>
				<!-- <th align="right" class="text-right">Custom Fields</th> -->
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left">{$item_with_qty_fields}</td>
					<td align="right">{$qty}</td>
					<!-- <td align="right">{$custom_field}</td> -->
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
</div>

