	
<div id="{$_name}" class="well">

{$Content}
	<div class="row well">
		<div class="col-md-4 panel panel-info">
			Request On :-<b> {$request_on}</b>
		</div>
		<div class="col-md-4 text-center panel panel-danger ">
			 <h3><b>{$status}</b></h3>
		</div>
		<div class="col-md-4 text-center panel panel-success">
			To Department :-<b>{$to_dept}</b> <br>
			Form Department :-<b>{$form_dept} 
		</div>
	</div>	
		
	<table width='100%' class='table' style="font-size:11px;vertical-align:top;" >
		<tbody class='table-striped'>
			<tr class="well" >
				<th align="left">Sno</th>
				<th align="center">Item</th>
				<th align="right" class="text-right">Qty</th>
				<th align="right" class="text-right">Custom Fields</th>
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left">{$item}</td>
					<td align="right">{$qty}</td>
					<td align="right">{$custom_field}</td>
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
</div>

