<div id="{$_name}" class="xblog-blog-details" style="" >
<link rel="stylesheet" type="text/css" href="epan-components/xBlog/templates/css/xblog-post-detail.css">
	{$Content}
	<div class="well">
		<div class="xblog-blog-details-posted-date">
			<span class="">Created Date : {$post_date}</span>&nbsp;&nbsp;
		</div>
		<h2 class=" xblog-blog-detail-name">
			{$name} 
		</h2>
		<div class="xblog-blog-detail-description"  >
			<p>{$description}</p> 
		</div>
		<div class="xblog-blog-detail-description">
			{$container}
		</div>
		<div class="xblog-blog-details-author">
			<span class="">Posted By : {$author}</span> 
		</div>
	</div>
	{$xshop_item_discus}
</div>