.top-page {
  min-height: 100px;
  padding-bottom: 50px;
}
.epan-component {
  position: relative;
  min-height: 20px;
}
.epan-component .drag-handler {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: move;
}
.epan-component .drag-handler .component_type_name {
  position: absolute;
  top: 0px;
  left: 20px;
  word-wrap: none;
  color: #ffffff;
  background-color: #0095ff;
  padding: 2px;
}
.epan-component .remove_btn {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: help;
}
.epan-component .dragging-shorten {
  width: 50px;
  height: 50px;
}
.epan-component:hover.ui-selected {
  outline: 2px dotted blue !important;
}
.epan-component:hover {
  outline: 1px solid blue !important;
}
.epan-sortable-extra-padding {
  padding-bottom: 30px;
  padding-top: 30px;
}
.component-outline {
  outline: 1px dotted lightgray !important;
}
#epan-content-wrapper {
  background-color: #ffffff;
  margin-top: 35px;
  margin-bottom: 35px;
}
.editor-block {
  background-color: #4b4b4b;
  color: #a6a6a6;
}
.editor-tool-top {
  border-right: 1px solid #252525;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.editor-tool-top:hover {
  color: #ffffff;
}
.editor-tool-left {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.editor-tool-left:hover {
  color: #ffffff;
}
.editor-tool-right {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.editor-tool-right:hover {
  color: #ffffff;
}
.editor-tool-bottom {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.editor-tool-bottom:hover {
  color: #ffffff;
}
.epan-editor-top-panel {
  background-color: #4b4b4b;
  color: #a6a6a6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}
.epan-editor-top-panel > div {
  border-right: 1px solid #252525;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.epan-editor-top-panel > div:hover {
  color: #ffffff;
}
.epan-editor-top-panel .epan-editor-current-page {
  color: #f2f2f2;
}
.epan-editor-top-panel .epan-editor-current-page:hover {
  color: #ffffff;
}
.epan-editor-left-panel {
  background-color: #4b4b4b;
  color: #a6a6a6;
  position: fixed;
  top: 30px;
  left: 0;
  width: 34px;
  bottom: 0;
  height: auto;
}
.epan-editor-left-panel > div {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.epan-editor-left-panel > div:hover {
  color: #ffffff;
}
.epan-editor-right-panel {
  background-color: #4b4b4b;
  color: #a6a6a6;
  position: fixed;
  top: 30px;
  right: 0;
  width: 50px;
  bottom: 0;
}
.epan-editor-right-panel > div {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.epan-editor-right-panel > div:hover {
  color: #ffffff;
}
.epan-editor-bottom-panel {
  background-color: #4b4b4b;
  color: #a6a6a6;
  position: fixed;
  bottom: 0;
  left: 34px;
  right: 50px;
  margin: 0 auto 0 auto;
}
.epan-editor-bottom-panel > div {
  width: 100%;
  border-bottom: 1px solid #252525;
  cursor: pointer;
}
.epan-editor-bottom-panel > div:hover {
  color: #ffffff;
}
.epan-frontend-editing-toolbar {
  width: 100%;
  height: 150px;
  border-top: 3px solid #252525;
  border-bottom: 3px solid #252525;
  background-color: #4b4b4b;
  position: fixed;
  bottom: 0;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  left: 0;
  z-index: 1000;
}
.epan-frontend-editing-toolbar .components-section {
  height: 120px;
  overflow-x: auto;
  overflow-y: hidden;
}
.epan-frontend-editing-toolbar .components-section .ui-tabs-panel {
  height: 100px;
  background-color: #4b4b4b;
}
.epan-frontend-editing-toolbar .components-section .tools-panel {
  width: 100%;
  height: 150px -3;
}
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li a.ui-tabs-anchor,
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li a.ui-tabs-anchor:visited {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 0.8em;
}
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li a.ui-tabs-anchor:hover,
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li a.ui-tabs-anchor:visited:hover {
  color: #ffffff;
}
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li.ui-state-active.ui-tabs-active a,
.epan-frontend-editing-toolbar .components-section .tools-panel ul.ui-tabs-nav li.ui-state-active.ui-tabs-active a:visited {
  color: #4b4b4b;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool {
  width: 100px;
  text-align: center;
  border-right: 1px solid gray;
  float: left;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dddddd), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #aaaaaa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffaaaaaa', GradientType=0);
  background-color: gray;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool ul {
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool div.ui-tabs-panel {
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool .title {
  font-size: 0.8em;
  word-wrap: break-word;
}
.epan-frontend-editing-toolbar .components-section .tools-panel .epan-frontend-editing-tool img.tool-shadow {
  margin-top: -10px;
}
.epan-place-holder {
  min-height: 50px;
  outline: 2px dashed blue;
  background-color: lightyellow;
  color: red;
}
.ui-selecting {
  outline: 2px dotted lightblue;
}
.ui-selected {
  outline: 2px dotted blue !important;
}
body {
  margin-bottom: 155px !important;
}
#epan-quick-component-options {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  border: 1px solid lightgray;
  color: #141414;
  z-index: 1000;
}
#epan-quick-component-options div.color-menu.dropdown-menu {
  margin-left: -72px;
}
#epan-quick-component-options .option-drag-handler {
  background-color: lightgray;
  padding-left: 20px;
}
#epan-quick-component-options .epan-css-options {
  max-height: 500px;
  overflow-y: scroll;
}
#epan-quick-component-options .epan-css-options .panel-heading {
  padding: 10px !important;
  margin-bottom: 2px;
  background-color: #4b4b4b;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 2px solid #252525;
}
#epan-quick-component-options .epan-css-options .panel-heading a {
  color: #d9d9d9;
}
#epan-quick-component-options .epan-css-options .panel-heading a:hover {
  color: #ffffff;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}
#overlay-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 10000;
}
#overlay-dark #overlay-dark-message {
  color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  text-align: center;
}
.remove_btn {
  cursor: not-allowed;
}
.panel-group .panel {
  overflow: visible;
}
.icon-strikethrough:before {
  content: '\e8ad';
}
.icon-list-ul:before {
  content: '\e8ab';
}
/* '' */
.icon-list-ol:before {
  content: '\e8ac';
}
