<div>
		<h4> Extended Element component includes various components to give creative look to the site. Currently there are following extended elements are available.
		</h4>
</div>
		<ul class="nav nav-tabs" role="tablist">
  			<li class="active"><a href="#marquee" role="tab" data-toggle="tab">Marquee</a></li>
 		</ul>
 		<div class="tab-content">
  			<div class="tab-pane active" id="marquee">
  			<br>
   				<div>
				<h2><center>Marquee</center></h2>
				<h4>Marquee component allows you to create scrolling container and other xEpan components.
   				</h4>
				</div>
					<div class="row">
						<div class="col-md-5">
							<h4>Major features of Marquee :</h4>
							<h4><ul>
								<li>User can add text, images, slideshows and other components in marquee.</li>
								<li>User can select the direction of marquee like left, right, top, bottom acccording to the need.</li>
								<li>User can select the behaviour of marquee. Possible values are scroll, slide and alternate. If no value is specified, the default value is scroll.</li>
								<li>User can manage the speed of marquee like slow, fast, medium.</li> 
								<li>User can change the basic properties like padding, margin, background, border etc. through component tool box.</li>
								<li>User can live edit the description.</li>
							</ul></h4>
						</div>
						<div class="col-md-7">
									<img src="epan-components/ExtendedElement/templates/images/marquee1.png" style="width:100%;max-width:100%;" class="img-thumbnail">
							
						</div>
					</div>	
  			</div>
  		</div>