.navbar-default{
       background-color : transparent !important;
       border-color: transparent !important;
}
.nav :hover{
/*background-color :#272e38 !important;*/
color : white !important ;
}
.weblayout1-sf-menu> li {
    border-left: 1px solid #1a1a1a;
    border-right: 1px solid #444343;
    position: relative;
    text-align: center;
    width: 130px;
}
.navbar-nav > .active > a:focus {
    background-color: transparent !important;
    color: red !important;
}
.weblayout1-header{
  background-color:#292929;;
}
.weblayout1-footer{
  background-color:#292929;
  color: white
}
.weblayout1-navbar-col{
  margin-top: 3%;
}
.weblayout1-footer h3{
 font-weight: 700;
 color: white;
}