.zoomWrapper{
}
.zoomwrapper-img{
	width:100% !important;
	position:relative;
	height: auto;
}

.zoom3-small-image-container{

}

.xshop-item-image-list{
	width: 100%;
}
.xshop-item-image-block{
	width:20%;
	position: relative;
	float: left;
}

.zoom3-small-image{
	width:100%;
	position: relative;
}