<div id="{$_name}">
	{$Content}
	<form method='POST' action='' enctype='multipart/form-data'>
		<div class='well well-sm'>
		<div class='row'>
			<div class='col-md-7'>
				<input type='hidden' name='addcomponenttorepository_form_submitted' value='1'/>
				<input type='file' name='component_file'/>
			</div>
			<div class='col-md-2'>
				<label for='replace_existing'>Replace Existing 
					<input type='checkbox' name='replace_existing' value='1'/>
				</label>
			</div>
			<div class='col-md-2'>
				<input type='submit' value='Add To Local Repository'/>
			</div>
		</div>
		</div>
	</form>
	<h5>Your Local (Downloaded and Installed) Components. For More Components please visit <a href="http://www.xepan.org" tagret='_blank'>xepan.org</a> marketplace regularly </h5><br/>
</div>
