<script type="text/javascript" src="epan-addons/splitter/templates/js/jquery.layout-latest.js"></script>
<link rel="stylesheet" type="text/css" href="epan-addons/splitter/templates/js/layout-default-latest1.css" />
<script>
    $(document).ready(function () {
        $('.mmm').layout({ applyDefaultStyles: true });
    });
</script>
<div class='mmm' style='width:100%; height: 500px; border: 2px solid red'>
<div class="ui-layout-north">North</div>
<div class="ui-layout-south">South</div>
<div class="ui-layout-east">East</div>
<div class="ui-layout-center">Center</div>
<div class="ui-layout-west">West</div>
</div>
