<div id="{$_name}" class="{$Class}">
		<!--job card detail  -->
	<div  class="row">
		<div class="col-md-4">
			<div>Invoice No :<b>{$invoice_no}</b></div>
			<div> {$billing_address}</div>
			<div> Customer :<b>{$customer_name}</b></div>
			<div> Mobile No :<b>{$mobile_no}</b></div>
			
		 </div>

		<div class="col-md-4 text-center atk-swatch-ink"style='text-transform:capitalize'>{$status}</div>

			<!--order detail  -->
		<div class = "col-md-4 text-right">
			<!-- <div>purchase Order No: <b>{$po}</b></div>
			<div>Order Created Date: <b>{$order_created_at}</b></div> -->
			<div>{$sales_order_no}</div>
			<!-- <div>Purchase Order Created Date: <b>{$order_created_at}</b></div>
			<div>Customer: <b>{$customer}</b></div>
			<div>From Supplier: <b>{$customer}</b></div> -->
		</div>
	</div>
		<table width='100%' class='table'>
			<tbody class='table-striped'>
				<tr>
					<th align="left">Sno</th>
					<th align="center">Item Name</th>
					<th align="right" class="text-right">Qty</th>
					<!-- <th align="right" class="text-right">Unit</th> -->
					<th align="right" class="text-right">Rate</th>
					<th align="right" class="text-right">Sub Total</th>
					<th align="right" class="text-right">Tax</th>
					<th align="right" class="text-right">Amount</th>
					
				</tr>
			{rows}
				{row}
					<tr>
						<td align="left">{$sno}</td>
						<td align="left">{item} Item {/item}<br><small>{$redable_custom_fields}</small>{$item_narration}</td>
						<td align="right">{$qty}&nbsp<small>{$unit}</small></td>
						<!-- <td align="right">{$unit}</td> -->
						<td align="right">{$rate}</td>
						<td align="right">{$sub_total}</td>
						<td align="right">{$tax_amount}<br>@  {tax_per_sum}{/tax_per_sum} %</td>
						<td align="right">{$texted_amount}</td>
						
					</tr>
				{/row}
			{/rows}

		<tr align="right">
			<td>&nbsp;</td>
			<th>Gross Amount</th>
			<td class='' colspan="4"><b>&#8377;{$gross_amount} </b> </td>
		</tr>
		<tr align="right">
			<td>&nbsp;</td>
			<th>Discount Voucher Amount</th>
			<td class='' colspan="4"><b> - &#8377;{discount_voucher_amount}{/discount_voucher_amount} </b> </td>
		</tr>
		<tr align="right">
			<td>&nbsp;</td>
			<th>Shipping Charge</th>
			<td class='' colspan="4"><b> - &#8377;{shipping_charge}{/shipping_charge} </b> </td>
		</tr>
		<tr align="right">
			<td>&nbsp;</td>
			<th>Net Amount</th>
			<td colspan="4" class=''><b>&#8377; {$net_amount} </b> </td>
		</tr>
		<tr>
			<td colspan="3">
			{tandc_section}
			<!-- <hr> -->
				<div class='text-justify'>
					<h3>Terms &amp; Conditions</h3>
					{$termsandcondition_matter}
					{$item_specific_conditions}
				</div>
			{/tandc_section}
			</td>
			<td colspan="3" align="left">
				Narration: {$narration}
			</td>
		</tr>
		</tbody>
	</table>
</div>


