<div id="{$_name}">

	<div class="row">
		<div class="col-md-4">
			<div>{$name}</div>
			<div>{$created_at}</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="text-center atk-swatch-ink" style="text-transform:capitalize" >{$status}</div>
		</div>
		<div class="col-md-4 text-right">
			<div>{$customer}</div>
			<div>{$lead}</div>
		</div>
	</div>

		
	<table width='100%' class='table'>
		<tbody class='table-striped'>
			<tr>
				<th align="left">Sno</th>
				<th align="center">Item Name</th>
				<th align="right" class="text-right">Qty</th>
				<!-- <th align="right" class="text-right">Unit</th> -->
				<th align="right" class="text-right">Rate</th>
				<th align="right" class="text-right">Tax</th>
				<th align="right" class="text-right">Amount</th> 
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					<td align="left"><h3>{item_name} Item {/item_name}<br><small>{$redable_custom_fields}</small></h3></td>
					<td align="right">{$qty}</td>
					<!-- <td align="right">{$unit}</td> -->
					<td align="right">{$rate}</td>
					<td align="right">{$tax_amount}<br>@  {tax_per_sum}{/tax_per_sum} %</td>
					<td align="right">{$texted_amount}</td> 
				</tr>
			{/row}
		{/rows}

		<tr align="right">
			<td>&nbsp;</td>
			<th>Gross Amount</th>
			<td class='' colspan="4"><b>&#8377;{$gross_amount} </b> </td>
		</tr>
		<tr align="right">
			<td>&nbsp;</td>
			<th>Discount Voucher Amount</th>
			<td class='' colspan="4"><b> - &#8377;{discount_voucher_amount}{/discount_voucher_amount} </b> </td>
		</tr>		
		<tr align="right">
			<td>&nbsp;</td>
			<th>Net Amount</th>
			<td colspan="4" class=''><b>&#8377; {$net_amount} </b> </td>
		</tr>

		<tr>
			<td colspan="6">
			{tandc_section}
			<!-- <hr> -->
				<div class='text-justify'>
					<h3>Terms &amp; Conditions</h3>
					{$termsandcondition_matter}
					{$item_specific_conditions}
				</div>
			{/tandc_section}
			</td>
		</tr>
		</tbody>
	</table>
</div>
{$Content}
</div>	

