	
<div id="{$_name}" class="well">

{$Content}
	<div class="row well">
		<div class="col-md-4 panel panel-info">
			Created At :-<b> {$created_at}</b>
		</div>
		<div>
			 Status <b>{$status}</b>
		</div>
		
	</div>	
		
	<table width='100%' class='table' style="font-size:11px;vertical-align:top;" >
		<tbody class='table-striped'>
			<tr class="well" >
				<th align="left">Sno</th>
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
</div>

