<div id="{$_name}">

	<div class="row">
		<div class="col-md-4">
			<div>{$name}</div>
			<div>{$created_at}</div>
		</div>
		<div class="col-md-4 text-center">
			<div>{$status}</div>
		</div>
		<div class="col-md-4 text-right">
			<div>{$customer}</div>
			<div>{$lead}</div>
		</div>
	</div>

		
	<table width='100%' class='table'>
		<tbody class='table-striped'>
			<tr>
				<th align="left">Sno</th>
				<th align="left">  Item Name </th> 
				<th align="left">  Qty </th> 
				<th align="left">  Rate </th> 
				<th align="left">  Amount </th> 
			</tr>
		{rows}
			{row}
				<tr>
					<td align="left">{$sno}</td>
					 <td align="left">{item}{/item}<br>{departments}{/departments}</td> 
					 <td align="left">{qty}{/qty}</td> 
					 <td align="left">{rate}{/rate}</td> 
					 <td align="left">{amount}{/amount}</td> 
				</tr>
			{/row}
		{/rows}
		</tbody>
	</table>
</div>
{$Content}
</div>	

