<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
	<div class="panel-group" id="accordion">
		<div class="xepan-collasp-header component-header">
		 	<div class="panel-heading">
		      	<h3 class="panel-title">
		        	<a data-toggle="collapse" data-parent="#accordion"	href="#collapse-xshop-item-detail">
						{$component_type_name}
		        	</a> 
		      	</h3>
		   	</div>
		 	<div id="collapse-xshop-item-detail" class="panel-collapse collapse">
		      	<div class="panel-body">
		      		<div class='xepan-collasp-header'>
						<table class="table table-condensed table-hover">
							<tr>
								<td>
									Edit CSS
								</td>
								<td colspan="2">
									<div id="xshop-item-detail-editcss" class="btn btn-default btn-xs">Edit css</div>
								</td>
							</tr>

							<tr>
								<td colspan="3">
									Show/Hide
								</td>
							</tr>
							<tr>
								<td colspan="2">Item Heading</td>
									<td>
										<select id='xshop-show-heading' data-attr="show-heading" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>

								<td colspan="2">Image</td>
									<td>
										<select id='xshop-show-image' data-attr="show-image" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Date</td>
									<td>
										<select id='xshop-show-item-date' data-attr="show-item-date" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Code</td>
									<td>
										<select id='xshop-show-item-code' data-attr="show-item-code" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td colspan="2">Name</td>
									<td>
										<select id='xshop-item-name' data-attr="show-item-name" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Review</td>
									<td>
										<select id='xshop-show-item-review' data-attr="show-item-review" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Cart Section</td>
									<td>
										<select id='xshop-show-cart-section' data-attr="show-cart-section" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Item Price</td>
									<td>
										<select id='xshop-show-item-price' data-attr="show-item-price" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Short Description</td>
									<td>
										<select id='xshop-show-item-short-description' data-attr="show-item-short-description" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Item Affiliate</td>
									<td>
										<select id='xshop-show-item-affiliate' data-attr="show-item-affiliate" class="xshop-general-bind" hide-class="xshop-item-affiliate-label">
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-affiliate-label">
								<td colspan="2">Affiliate Label</td>
									<td>
										<input type='text' id='xshop-item-affiliate-label' data-attr="item-affiliate-label" class="xshop-general-bind"/>
									</td>
							</tr>

							<tr>
								<td colspan="2">Detail in Tabs</td>
									<td>
										<select id='xshop-show-item-detail-in-tabs' data-attr="show-item-detail-in-tabs" class="xshop-general-bind" >
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-detail-label">
								<td colspan="2">Detail Label</td>
									<td>
										<input type='text' id='xshop-item-detail-label' data-attr="item-detail-label" class="xshop-general-bind"/>
									</td>
							</tr>
							<tr>
								<td colspan="2">Specification</td>
									<td>
										<select id='xshop-show-item-specification' data-attr="show-item-specification" class="xshop-general-bind" hide-class="xshop-item-specification-label">
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-specification-label">
								<td colspan="2">Specification Label</td>
									<td>
										<input type='text' id='xshop-item-specification-label' data-attr="item-specification-label" class="xshop-general-bind"/>
									</td>
							</tr>

							<tr>
								<td colspan="2">Enquiry Form</td>
									<td>
										<select id='xshop-show-item-enquiry-form' data-attr="show-item-enquiry-form" class="xshop-general-bind" hide-class="xshop-item-enquiry-form-label">
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-enquiry-form-label">
								<td colspan="2">Enquiry Form Label</td>
									<td>
										<input type='text' id='xshop-item-enquiry-form-label' data-attr="item-enquiry-form-label" class="xshop-general-bind"/>
									</td>
							</tr>
							<tr>
								<td colspan="2">Comment Section</td>
									<td>
										<select id='xshop-show-item-comment' data-attr="show-item-comment" class="xshop-general-bind" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td colspan="2">Tags</td>
									<td>
										<select id='xshop-show-item-tags' data-attr="show-item-tags" class="xshop-general-bind" hide-class="xshop-item-tag-label">
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-tag-label">
								<td colspan="2">Tag Label</td>
									<td>
										<input type='text' id='xshop-item-tag-label' data-attr="item-tag-label" class="xshop-general-bind"/>
									</td>
							</tr>
							<tr>
								<td colspan="2">Item Attachment</td>
									<td>
										<select id='xshop-show-item-attachment' data-attr="show-item-attachment" class="xshop-general-bind" hide-class="xshop-item-attachment-label" >
											<option value="0">Hide</option>
											<option value="1">Show</option>
										</select>
									</td>
									<!-- <td><input type='number' id='xshop-order-add-to-cart' data-attr="order-add-to-cart" class="xshop-general-bind"/></td> -->
							</tr>
							<tr class="xshop-item-attachment-label">
								<td colspan="2">Attachment Label</td>
									<td>
										<input type='text' id='xshop-item-attachment-label' data-attr="item-attachment-label" class="xshop-general-bind"/>
									</td>
							</tr>
							<tr>
								<td colspan="3">
									Caption
								</td>
							</tr>
							<tr>
								<td>Personalization Page</td>
								<td colspan="2">
									<input type='text' id='xshop-item-personalization_page' data-attr="personalization-page" class="xshop-general-bind" >
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div><br>
	<div>
		<button id='xShopProductDetailServerSide'>Server Side</button>
	</div>
</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selected_component).what to do ???
// }) 

$('#xshop-item-detail-editcss').click(function(event){
	$(this).univ().frameURL('Edit CSS ( xShop item Detail Display Layout )','index.php?page=xShop_page_itemdetaillayoutcss&cut_page=1&xshop_item_detail_layout=xshop-item-detail');
});

$('#xShopProductDetailServerSide').click(function(event){
	$('#epan-quick-component-options').toggle('slideup');
	$.univ.frameURL('xShop Products Details','index.php?page=xShop_page_owner_main')
});
	
$('.xshop-general-bind').change(function(event){
	$(current_selected_component).attr($(this).attr('data-attr'),$(this).val());
	//calling hide other option
	if($(this).attr('hide-class') != undefined){
		$('.'+$(this).attr('hide-class')).hide();
		if($(this).val() > 0)
			$('.'+$(this).attr('hide-class')).show();
	}

	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
	// $(current_selected_component).children('div:first').trigger('reload');
});


var {$component_type}_options = {
	show: function (){
		// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
		// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
		// 
		// $(your_option_html_element).text($(current_selected_component).css('border'));
		
		//General Binding
		$('.xshop-general-bind').each(function(index,value){
			$(this).val($(current_selected_component).attr($(this).attr('data-attr')));
		});
		
	}
}
</script>
