<div id="{$_name}">
{$Content}
<table width='100%' class='table' style="font-size:11px;vertical-align:top;" >
	<tbody class='table-striped'>
		<tr>
			<th align="left">Sno</th>
			<th align="left">Item</th>
			<th align="right" class="text-right">Qty</th>
			{order_amount_section}
			<th align="right" class="text-right">Rate</th>
			<th align="right" class="text-right">Total</th>
			<th align="right" class="text-right">Tax</th>
			<th align="right" class="text-right">Shipping <br/>Charge</th>
			<th colspan="2" align="right" class="text-right">Amount</th>
			{/order_amount_section}
		</tr>
	{rows}
	{row}
		<tr valign="top">
			<td align="left">{$sno}</td>
			<td align="left" width="400px;">
				<p>{$item_name}<br><small>{$departments}</small>
				<br/><small>{$narration}</small></p>
			</td>
			
				<td align="right">{$qty} &nbsp; <small>{$unit}</small></td>
			{order_amount_section}
				<td align="right">{$rate}</td>
				<td align="right">{$sub_total}</td>
				<td align="right">{$tax_amount}<br>@  {$tax_type}</td>
				<<td align="right">{$shipping_charge}</td>
				<td colspan="2" align="right">{$texted_amount}</td>

				<!--For Tax Value {tax_per_sum}{/tax_per_sum} -->
			{/order_amount_section}
		</tr>
		{/row}
	{/rows}

		{order_amount_section}
		<tr align="right">
			<td>&nbsp;</td>
			<th>Total</th>
			<td class='' colspan="6"><b>{$currency} {$total_amount} </b> </td>
		</tr>
		{discount_amount_section}
		<tr align="right">
			<td>&nbsp;</td>
			<th>Discount Amount</th>
			<td class='' colspan="4"><b>{$currency} {discount_voucher_amount}{/discount_voucher_amount} </b> </td>
		</tr>
		{/discount_amount_section}

		<!-- {shipping_amount_section}
		<tr align="right">
			<td>&nbsp;</td>
			<th>Shipping Amount</th>
			<td class='' colspan="6"><b>{$currency} {$shipping_amount}</b> </td>
		</tr>
		{/shipping_amount_section} -->

		<tr align="right">
			<td>&nbsp;</td>
			<th>Net Amount</th>
			<td colspan="6" class=''><b>{$currency} {$net_amount} </b> </td>
		</tr>

		<tr align="right">
			<td>&nbsp;</td>
			<th>Net Amount in Words: </th>
			<td colspan="6" class=''><b>{$currency}: {$net_amount_in_words} </b> </td>
		</tr>
		{/order_amount_section}

	</tbody>
</table>
</div>
