<div id="{$_name}" class="{$class}">
	{$Content}
	<div class="row">
		<div class="col-md-4">
			Order No: <b>{$name}</b>
		</div>
		<div class="col-md-4 text-center atk-swatch-ink" style='text-transform:capitalize'>{$status}</div>
		<div class="col-md-4 text-right" style="text-transform:capitalize">
			Approval: <b>{approved_date}Pending{/approved_date}</b><br>
			Order From: <b>{order_from}Offline/Online{/order_from}</b>
		</div>
	</div>
	<div>
		Customer: <b style='text-transform:capitalize'>{$member}</b>
	</div>
	{order_address}{/order_address}
	{$order_detail}
	<div>
		<b>Created by :</b> {$created_by_x}
	</div>
</div>
