<div id="{$_name}" {$attributes} class=' {$class}' style=' {$style}'>

	{xshop_cart_with_item_price_btn}
		<div class="xshop-cart-container">
			<div class="xshop-sort-cart-inner-container">
				<a class="xshop-sort-cart-anchor" href="{xshop_cart_detail_page}{/xshop_cart_detail_page}">
					<i class="glyphicon glyphicon-shopping-cart xshop-sort-cart-icon">
					</i><span class="xshop-sort-cart-label">{xshop_cart_name}Cart{/xshop_cart_name}</span> 
					<div class="xshop-sort-cart-item-count">
						{xshop_cart_items}
						{/xshop_cart_items}
					</div>
					<div class="xshop-sort-cart-total-price">
						{xshop_cart_price}					
						{/xshop_cart_price}
					</div>
				</a>
			</div>
		</div>

		<div class="xshop-cart-button-div">
			<!-- xShop Cart Empty Button -->
			{xshop_cart_empty_btn}{/xshop_cart_empty_btn}

			<!-- xShop Cart Checkout Button -->
			{xshop_cart_checkout_btn}{/xshop_cart_checkout_btn}
			
			<!-- xShop Cart View Cart Button -->
			{xshop_cart_viewcart_btn}{/xshop_cart_viewcart_btn}
		</div>
	{/xshop_cart_with_item_price_btn}
	
	<div class="xshop-cart-detail-container">
	{xshop_cart_detail}{/xshop_cart_detail}
	</div>
	

	{xshop_cart_estimate}{/xshop_cart_estimate}

	<!--xShop cart Proceed Btn -->
	<div class="xshop-cart-proceed">
	{xshop_cart_proceed}{/xshop_cart_proceed}
	</div>
	{$Content}
</div>
