<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
	<h3>{$component_type_name}</h3>
	<div class='xepan-collasp-header'>
		<table class="table table-condensed table-hover">
			<tbody>
				<tr>
					<td>
						Edit CSS
					</td>
					<td colspan="2">
						<div id="xshop-item-designer-editcss" class="btn btn-default btn-xs">Edit css
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
//
// $(your_option_html_element).click(function(event,ui){
		// 		$(current_selected_component).what to do ???
// })

$('#xshop-item-designer-editcss').click(function(event){
	$(this).univ().frameURL('Edit CSS ( xShop item Designer Display Layout )','index.php?page=xShop_page_itemdesignercss&cut_page=1&xshop_item_designer_layout=xshop-item-designer');
});

var {$component_type}_options = {
show: function (){
// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
//
// $(your_option_html_element).text($(current_selected_component).css('border'));
$('#input_option_b').val($(current_selected_component).find('b').text());
}
}
</script>
