<div class="" style=" position: static;" id="sidebar2">
	{$block_name}
	{rows}	
	{row}
	<div id='{$_name}_carousel' class='{$class} carousel slide' data-ride="carousel" style="width:70%">
		<div class='carousel-inner'>
				<h3 style="display:none;">{name}name{/name}
				</h3>
			<div class='item {$active_class} well well-sm'>
				<a  href='{$link}' target='_blank' >
					<img   style="width:100%;"; src='{image_url}logo.png{/image_url}'/>
				</a>
			</div>
		</div>
	</div>
	{/row}
	{/rows}
{$Content}
				
<div>
