<div id="{$_name}" class='{$class}' cart_item_id='{$id}'>
	{$choices}

<div class="table-responsive">
	<table class="table table-hover">
<!-- 		<thead>
			<tr><th>#</th>
				<th>Image</th>
				<th>Item</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>DELIVERY DETAILS</th>
				<th>SUBTOTAL</th>
				<th>Remove</th>
			</tr>
		</thead> -->
		<tbody>
			<tr class="xshop-cart-item-row">
				{$sno}
				{$image}
				{$name}
				{qty_rate}
				<td class="xshop-cart-item-qty col-md-4">{$qty}</td>
				{/qty_rate}
				{$delivery_detail}
				{$subtotal}
				{remove}
				<td class="xshop-cart-item-remove col-md-1"><button class="xshop-cart-item-remove-btn" onclick='javascript:$(this).univ().ajaxec("index.php?page=xShop_page_ajaxhandler_removecartitem&cartitem_id={$id}&task=page_removecartitem")'>X</button></td>
				{/remove}
			</tr>
		</tbody>	
	</table>
</div>
	
	{$Content}			
</div>
