<div id="{$_name}">
{$Content}
<table width='100%' class='table' style="vertical-align:top;" >
	<tbody class='table-striped'>
		<thead>
			<th align="left" width="5%" >Sno</th>
			<th align="left" width="45%" >Item</th>
			<th align="right" class="text-right" width="10%" >Qty</th>
			{order_amount_section}
			<th align="right" class="text-right" width="10%">Rate</th>
			<th align="right" class="text-right" width="10%">Total</th>
			<th align="right" class="text-right" width="5%">Tax</th>
			<th align="right" class="text-right" width="15%">Amount</th>
			{/order_amount_section}
		</thead>
	<tr>
		<td colspan="7" style="height:300px;" valign="top">
		{$detail_height_start}
	{rows}
	{row}
		<tr valign="top" style="font-size: 12px;" >
			<td align="left" valign="top" width="5%">{$sno}</td>
			<td align="left" width="45%">
				<p>{$item_name}<br><small>{$departments}{$item_narration}</small></p>
			</td>		
			<td align="right" width="10%">{$qty}&nbsp;{$unit}</td>
			{order_amount_section}
				<td align="right" width="10%">{$rate}</td>
				<td align="right" width="10%">{$sub_total}</td>
				<td align="right" width="5%">{$tax_amount}<br/>@{tax_per_sum}{/tax_per_sum}%</td>
				<td align="right" width="15%">{$texted_amount}</td>
			{/order_amount_section}
		</tr>
	{/row}
	{/rows}
			{$detail_height_end}
		</td>
	</tr>
	

		{order_amount_section}
		<tr>
			<td colspan="7"><hr/></td>
		</tr>
		<tr align="right">
			<td colspan="3">Total</td>
			<td colspan="4"><b>&#8377; {$gross_amount} </b> </td>
		</tr>
		{discount_voucher_amount_section}
		<tr align="right">
			<td colspan="3">Discount</td>
			<td class='' colspan="4"><b> - &#8377;{discount_voucher_amount}{/discount_voucher_amount} </b> </td>
		</tr>
		{/discount_voucher_amount_section}
		{round_amount_section}
			<tr align="right">
				<td colspan="3">Round Amount</td>
				<td colspan="4"><b>&#8377; {round_amount}0{/round_amount}</b> </td>
			</tr>
		{/round_amount_section}
		{shipping_charge_section}
		<tr align="right">
			<td colspan="3">Shipping Charge</td>
			<td class='' colspan="4"><b> &#8377;{shipping_charge}{/shipping_charge} </b> </td>
		</tr>
		{/shipping_charge_section}
		<tr align="right">
			<td colspan="3">Net Amount</td>
			<td colspan="4" class=''><b>&#8377; {$net_amount} </b> </td>
		</tr>
		{/order_amount_section}
	</tbody>
</table>
</div>
