<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
	<div class="panel-group" id="accordion">
		<div class="xepan-collasp-header component-header">
			<div class="panel-heading">
				<h3 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"	 href="#collapse-xblog-blog">
					{$component_type_name}
				</a>
				</h3>
			</div>
			<div id="collapse-xblog-blog" class="panel-collapse collapse">
				<div class="panel-body">
					<div class='xepan-collasp-header'>
						<table class="table table-condensed table-hover">
							<tr>
								<td>
									Edit CSS
								</td>
								<td colspan="2">
									<div id="xblog-item-editcss" class="btn btn-default btn-xs">Edit css</div>
								</td>
							</tr>
							<tr>
								<td >
									Select item
								</td>
								<td colspan="2">
									<select id='xblog-itemtype-root'>
									</select>
								</td>
							</tr>
							<tr>
								<td >
									Display Layout
								</td>
								<td>
									<div class="btn-group">
										<button id="xblog-listbtn" type="button" class="btn btn-default glyphicon glyphicon-th-list btn btn-sm" title="List View"> </button>
										<button id="xblog-gridbtn" type="button" class="btn btn-default glyphicon glyphicon-th btn-sm" title="Grid View"> </button>
									</div>
								</td>
								<td>
									<select id="xblog-grid-column" type="number" class="" placeholder="item in each Row">
										<option value="0">Item in Each Row</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="6">6</option>
										<option value="12">12</option>
									</select>
								</td>
							</tr>
							<tr>
								<td >
									Application
								</td>
								<td colspan="2">
									<select id='xblog-item-application'>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									show/hide
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td>
									item Topbar
								</td>
								<td>
									<input id="xblog_item_topbar" type="checkbox"/>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td>
									Image Zoom on Click
								</td>
								<td>
									<input id="xblog_item_fancy_box" type="checkbox"/>
								</td>
							</tr>
							
							<tr>
								<td>
									
								</td>
								<td >
									Detail on click
								</td>
								<td>
									<input id="xblog_item_hover" type="checkbox"/>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td>
									Detail on Image Click
								</td>
								<td>
									<input id="xblog_item_detail_on_image_click" type="checkbox"/>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td>
									Short Description
								</td>
								<td>
									<input id="xblog_item_short_description" type="checkbox"/>
								</td>
							</tr>
							<tr>
								<td>
									Items on Page
								</td>
								<td colspan="2">
									<input id="xblog_item_paginator" type="text" placeHolder="no of items"/>
								</td>
							</tr>
							<tr>
								<td >
									Item Detail Subpage
								</td>
								<td colspan="2">
									<input type='text' id='xblog_item_detail_page' data-attr="xblog-detail-page" class="xblog-general-bind"/>
								</td>
							</tr>
							<tr>
								<td >
									Customize Item Display
								</td>
								<td colspan="2">
									<table class="table table-condensed table-hover">
									<tr>
										<td>Item Width</td>
										<td colspan="2"><input type='number' id='xblog_item_width' data-attr="item-image-width" class="xblog-general-bind"/></td>
									<tr>
									<tr>
										<td>Item Height</td>
										<td colspan="2"><input type='number' id='xblog_item_height' data-attr="item-image-height" class="xblog-general-bind"/></td>
									<tr>

										<td>Item Name</td>
										<td>
											<select id='xblog-show-name' data-attr="show-name" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-name' data-attr="order-name" class="xblog-general-bind"/></td>
									</tr>
									<tr>
										<td>Item Image</td>
										<td>
											<select id='xblog-show-image' data-attr="show-image" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-image' data-attr="order-image" class="xblog-general-bind"/></td>
									</tr>
									<tr>
										<td>Old Price</td>
										<td>
											<select id='xblog-show-old-price' data-attr="show-old-price" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-old-price' data-attr="order-old-price" class="xblog-general-bind"/></td>
									</tr>
									<tr>
										<td>Item Price</td>
										<td>
											<select id='xblog-show-price' data-attr="show-price" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-price' data-attr="order-price" class="xblog-general-bind"/></td>
									</tr>
									
									<tr>
										<td>Item Description</td>
										<td>
											<select id='xblog-show-short-description' data-attr="show-short-description" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-short-description' data-attr="order-short-description" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>AddToCart Button</td>
										<td>
											<select id='xblog-show-add-to-cart' data-attr="show-add-to-cart" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-add-to-cart' data-attr="order-add-to-cart" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Custom Fields</td>
										<td>
											<select id='xblog-show-custom-fields' data-attr="show-custom-fields" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-custom-fields' data-attr="order-custom-fields" class="xblog-general-bind"/></td>
									</tr>
									<tr>
										<td>Qty Selection</td>
										<td>
											<select id='xblog-show-qty-selection' data-attr="show-qty-selection" class="xblog-general-bind" >
												<option value="0">No</option>
												<option value="1">Yes</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-custom-fields' data-attr="order-custom-fields" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Open Details In Frame</td>
										<td>
											<select id='xblog-show-details-in-frame' data-attr="show-details-in-frame" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-details-in-frame' data-attr="order-details-in-frame" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>EnquiryForm</td>
										<td>
											<select id='xblog-show-enquiry-form' data-attr="show-enquiry-form" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-enquiry-form' data-attr="order-enquiry-form" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Reviews View</td>
										<td>
											<select id='xblog-show-reviews' data-attr="show-reviews" class="xblog-general-bind">
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-reviews' data-attr="order-reviews" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Item Offer</td>
										<td>
											<select id='xblog-show-offer' data-attr="show-offer" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-offer' data-attr="order-offer" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Discount</td>
										<td>
											<select id='xblog-show-discount' data-attr="show-discount" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-discount' data-attr="order-discount" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Specification</td>
										<td>
											<select id='xblog-show-specifications' data-attr="show-specifications" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-specifications' data-attr="order-specifications" class="xblog-general-bind"/></td>
									</tr>

									<tr>
										<td>Personaliz</td>
										<td>
											<select id='xblog-show-personalized' data-attr="show-personalized" class="xblog-general-bind" >
												<option value="0">Hide</option>
												<option value="1">Show</option>
												<option value="2">Hover</option>
											</select>
										</td>
										<td><input type='number' id='xblog-order-personalized' data-attr="order-personalized" class="xblog-general-bind"/></td>
									</tr>

									</table>
								</td>
							</tr>
							<tr>
								<td>Personalization Page</td>
								<td colspan="2">
									<input type='text' id='xblog-show-personalization_page' data-attr="personalization-page" class="xblog-general-bind" >
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div><br>
	<table>
		<tbody>
			
		</tbody>
	</table>
	<div><button id='xBlogitemServerSide'>Manage Blog Config</button></div>
</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
//
// $(your_option_html_element).click(function(event,ui){
		// 		$(current_selected_component).what to do ???
// })
$('#xBlogitemServerSide').click(function(event){
	$('#epan-quick-component-options').toggle('slideup');
	$.univ.frameURL('xBlog items','index.php?page=xShop_page_owner_main')
});
$('#xblog-itemtype-root').change(function(event) {
	$(current_selected_component).attr('xshop_itemtype',$(this).val());
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xblog-item-application').change(function(event) {
$(current_selected_component).attr('xshop_item_application_id',$(this).val());
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xblog-listbtn').click(function(event) {
$(current_selected_component).attr('xshop_itemlayout','xblog-itemlist');
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xblog-gridbtn').click(function(event) {
$(current_selected_component).attr('xshop_itemlayout','xblog-itemgrid');
// $('#xblog-grid-column');
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xblog-grid-column').change(function(event){
$(current_selected_component).attr('xblog-grid-column',$(this).val());
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xshop_item_topbar').change(function(event) {
if($('#xshop_item_topbar').is(':checked')?$(current_selected_component).attr('xshop_item_topbar','true'):$(current_selected_component).attr('xshop_item_topbar','false'));
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xblog-item-editcss').click(function(){
$(this).univ().frameURL('Edit CSS ( xShop item Display Layout )','index.php?page=xShop_page_itemlayoutcss&cut_page=1&xshop_item_layout='+$(current_selected_component).attr('xshop_itemlayout'));
});
$('#xshop_item_fancy_box').change(function(event) {
if($('#xshop_item_fancy_box').is(':checked')?$(current_selected_component).attr('xshop_item_fancy_box',1):$(current_selected_component).attr('xshop_item_fancy_box',0));

$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});
$('#xshop_item_hover').change(function(event) {
if($('#xshop_item_hover').is(':checked')?$(current_selected_component).attr('xshop_item_hover','1'):$(current_selected_component).attr('xshop_item_hover','0'));
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_item_detail_on_image_click').change(function(event){
if($('#xshop_item_detail_on_image_click').is(':checked')?$(current_selected_component).attr('xshop_item_detail_on_image_click','1'):$(current_selected_component).attr('xshop_item_detail_on_image_click','0'));
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_item_short_description').change(function(event){
	if($('#xshop_item_short_description').is(':checked')?$(current_selected_component).attr('xshop_item_short_description','1'):$(current_selected_component).attr('xshop_item_short_description','0'));
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_item_paginator').change(function(event){
$(current_selected_component).attr('xshop_item_paginator',$(this).val());
$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xblog-item-customize-order-name').change(function(event){
	$(current_selected_component).attr('customize-display-name', ($('#xblog-item-customize-show-image').is(':checked')?'1':'0') + '/' + $(this).val());
});


$('.xblog-general-bind').change(function(event){
	$(current_selected_component).attr($(this).attr('data-attr'),$(this).val());
	$(current_selected_component).children('div:first').trigger('reload');
});


var {$component_type}_options = {
show: function (){
// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
// $(your_option_html_element).text($(current_selected_component).css('border'));
$.ajax({
url: 'index.php?page=xShop_page_getitemtype',
type: 'GET',
data: { },
success: function (data) {
$('#xblog-itemtype-root').html(data);
$('#xblog-itemtype-root').val($(current_selected_component).attr('xshop_itemtype')?$(current_selected_component).attr('xshop_itemtype'):0);
}
});
$.ajax({
url: 'index.php?page=xEnquiryNSubscription_page_getforms',
type: 'GET',
data: { },
success: function ( data ){
$('#xshop_item_enquiry_form_no').html(data);
}
});
$.ajax({
url: 'index.php?page=xShop_page_getcategories',
type: 'GET',
data: { },
success: function (data) {
$('#xblog-item-application').html(data);
$('#xblog-item-application').val($(current_selected_component).attr('xshop_item_application_id')?$(current_selected_component).attr('xshop_item_application_id'):0);
}
});
$('#xblog-item-application').val($(current_selected_component).attr("xblog-item-application_id"));
//display selected option into checkbox

$('#xshop_item_topbar').attr('checked',$(current_selected_component).attr("xshop_item_topbar")=='true'?true:false);
$('#xshop_item_fancy_box').attr('checked',$(current_selected_component).attr("xshop_item_fancy_box")==1?true:false);
$('#xshop_item_hover').attr('checked',$(current_selected_component).attr("xshop_item_hover")==1?true:false);

$('#xblog-itemtype-root').val($(
current_selected_component).attr('xshop_itemtype'));
$('#xshop_item_detail_on_image_click').attr('checked',$(current_selected_component).attr("xshop_item_detail_on_image_click")==1?true:false);

$('#xshop_item_paginator').val($(current_selected_component).attr("xshop_item_paginator"));
if($(current_selected_component).attr("xshop_itemlayout") == undefined){
	$(current_selected_component).attr('xshop_itemlayout',"xblog-itemgrid");
}
$(current_selected_component).attr("xshop_itemlayout")=='xblog-itemlist'?$('#xblog-listbtn').addClass('btn btn-success'):$('#xblog-gridbtn').addClass('btn btn-success');

$('#xblog-grid-column').val($(current_selected_component).attr('xblog-grid-column')?$(current_selected_component).attr('xblog-grid-column'):0);
$('#xshop_item_short_description').attr('checked',$(current_selected_component).attr("xshop_item_short_description")=='1'?true:false);

$('.xblog-general-bind').each(function(index,value){
	$(this).val($(current_selected_component).attr($(this).attr('data-attr')));
});

}

}
</script>
