<div id="{$_name}">
	<link rel="stylesheet" type="text/css" href="epan-components/xShop/templates/css/fancybox/jquery.fancybox.css"/>
	<link rel="stylesheet" type="text/css" href="epan-components/xShop/templates/css/fancybox/jquery.fancybox-buttons.css"/>
	<link rel="stylesheet" type="text/css" href="epan-components/xShop/templates/css/xshopitemimage.css"/>
	
	<!-- Jquery File For FANCY BOX and ELEVATEZOOM -->
	<script src="epan-components/xShop/templates/js/jquery-elevatezoom.js"></script>
	<script src="epan-components/xShop/templates/js/fancybox/jquery.fancybox.js"></script>
	<script src="epan-components/xShop/templates/js/fancybox/jquery.fancybox-buttons.js"></script>

	{$Content}
	{zoom3_image}
		<img id="zoom_03{$_name}" src="{zoom3_image_url}{/zoom3_image_url}" data-zoom-image="{$zoom3_large_image_url}" class="zoomwrapper-img">
	{/zoom3_image}

	<div id="gal1{$_name}" class="xshop-item-image-list " style="margin-top:30px;">
	{rows}
	{row}
		<div class="xshop-item-image-block">
			<a href="#{$id}" data-image="{$thumb_image_url}" data-zoom-image="{$image_url}" class="xshop-item-image-link elevatezoom-gallery">
				<img id="img_{$id}" src="{$thumb_image_url}" class="img" style="width:100%" alt="{$img_alt}" title="{$img_title}" />
			</a>
		</div>	
	{/row}
	{/rows}
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#zoom_03{$_name}").elevateZoom({
				gallery:'gal1{$_name}', 
				cursor: 'pointer', 
				galleryActiveClass: 'active', 
				imageCrossfade: true, 
				constrainType:"height", 
				constrainSize:274,
				containLensZoom: true,
				scrollZoom : true,
				tint:true,
				responsive:true,
				// tintColour:'#F90', 
				easing:true, 
				// loadingIcon: 'epan-components/xShop/templates/images/loading.gif',
				// tintOpacity:0.5
				//zoomType: "inner"
				
				//zoomType: "lens"
				//lensShape: "round"
				//lensSize: 200

				zoomWindowFadeIn: 300, 
				zoomWindowFadeOut: 300, 
				//lensFadeIn: 500, 
				//lensFadeOut: 500
			});

			$("#zoom_03{$_name}").bind("click", function(e) {  
		  		var ez =   $('#zoom_03{$_name}').data('elevateZoom');
		  		ez.closeAll(); //NEW: This function force hides the lens, tint and window	
				$.fancybox(ez.getGalleryList({
				}));
		  		return false;	
			});
		
		});

	</script>

</div>


