<div id="{$_name}" class="{$class}">
	{$Content}
	<div class="row">
		<div class="col-md-4">
			Order No: <b>{$name}</b></br>
		Delivery Date: <b>{$delivery_date}</b>
			
		</div>
		<div class="col-md-4 text-center atk-swatch-ink" style='text-transform:capitalize'>{$status}</div>
		<div class="col-md-4 text-right" style="text-transform:capitalize">
			Approval: <b>{approved_date}Pending{/approved_date}</b><br>
			Order From: <b>{order_from}Offline/Online{/order_from}</b></br>
			Order Priority: <b>{priority}{/priority}</b>
		</div>
	</div>
	<div>
		Customer: <b style='text-transform:capitalize'>{$member}</b><br>
		{current_balance}{/current_balance}
	</div>
	{order_address}{/order_address}
	{$order_detail}
	<i class='atk-text-dimmed'>{$order_summary}</i>
	<div>
		<b>Created by :</b> {$created_by_x}
	</div>
	{tandc_section}
		<hr>
		<div>
			<h3>Terms &amp; Conditions</h3>
			{$termsandcondition_matter}
			{$item_specific_conditions}
		</div>
	{/tandc_section}
</div>

<table receipt="PrimeScan">
	<tbody valign="top">
		<tr>
			<td width="70%">
				<img/>
			</td>
			<td width="30%">
				<p>RECEIPT</p>
			</td>
		</tr>
		<tr>
			<td width="70%">
				<p>No...............</p>
			</td>
			<td width="70%">
				<p>Date:............</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Received with thanks a sum of Rs. .....................
			</td>
		</tr>
		<tr>
			<td colspan="2">
				.............................................Only From
			</td>
		</tr>
		<tr>
			<td colspan="2">
				M/s....................................................
			</td>
		</tr>
		<tr>
			<td colspan="2">
				vide Cash/Cheque/D.D. No. ................ dt. .........
			</td>
		</tr>
		<tr>
			<td colspan="2">
				against payment of. ...................... dt. .........
			</td>
		</tr>
		<tr>
			<td width="70%">
				Rs................
			</td>
			<td width="30%">
				Rs................
			</td>
		</tr>
	</tbody>
</table>