<div id="{$_name}" class="{$class} xshop-item-detail">
<link rel="stylesheet" type="text/css" href="epan-components/xShop/templates/css/xshop-item-detail.css"/>
<script src="epan-components/xBlog/templates/js/jRate.js"></script>

	{$date}
	{$item_detail_heading}

	<div class="row">
		{item_images}{/item_images}	
		<div class="{$item-detail-width} xshop-item-detail-section-moveable">
			{$item_name}			
				{$item_sku}
				<!-- {$review} -->
				{review_section}
					<div id="jRate_{$id}" xitem="{$item_id}" xauth="{$auth}" xdays="{$xdays}" subpage="{$subpage}">{$review}</div>
					<div id="jRate_{$id}-value">Your Rating: {$review_value}</div>
				{/review_section}
			<div class="xshop-item-detail-design section">
    			{xshop_item_design_item}
    			{/xshop_item_design_item}
			</div>
			<div class="row section">
				<div class="col-md-4 col-sm-4 xshop-item-detail-price">
					{$xshop_item_detail_price}
				</div>
				<div class="col-md-8 col-sm-8 xshop-item-offer-supplier-shipping">
					{$item_offer_supplier_shipping_info}
				</div>
			</div>
			<div class="xshop-item-detail-cart section">
    			{xshop_item_cart_btn}
    			{/xshop_item_cart_btn}
			</div>
		</div>
	</div>
		{xshop_item_custom_btn}{/xshop_item_custom_btn}
		{$xshop_item_affiliates}
		{xshop_item_detail_information}{/xshop_item_detail_information}
		{$Content}
		
		{$xshop_item_enquiry_label}
		{xshop_item_enquiry}{/xshop_item_enquiry}
		<!-- {xshop_item_supplier}
        	<li><a href="#" class="btn btn-default" data-toggle="modal" data-target="#xShop_supplier_modal_{$id}" >{supplier_caption}Supplier{/supplier_caption}</a></li>
		{/xshop_item_supplier} -->
		{xshop_item_attachment}{/xshop_item_attachment}
		{$xshop_item_discus}
		{$xshop_item_tags}
	<script type="text/javascript">
		$("#jRate_{$id}").jRate({
			rating: '{$review_value}',
	            shape: "STAR",
	            count: 5,
	            width: "20",
	            height: "20",
	            widthGrowth: 0.0,
	            heightGrowth: 0.0,
	            backgroundColor: "gray",
	            startColor: "yellow",
	            endColor: "green",
	            strokeColor: "black",
	            transparency: 1,
	            shapeGap: "0px",
	            opacity: 1,
	            min: 0,
	            max: 5,
	            precision: 1,
	            minSelected: 0,
				strokeWidth: '2px',
	            horizontal: true,
	            reverse: false,
	            readOnly: false,
				touch: true,
	            onChange: function(rating) {
					$('#jRate_{$id}-value').text("Your Rating: "+rating);
				},
	            onSet:function(rating){
	            	url = $('#jRate_{$id}').attr('subpage');
	            	item_id = $('#jRate_{$id}').attr('xitem');
	            	days = $('#jRate_{$id}').attr('xdays');
	            	
	            	$(this).closest('.xshop-item-detail').univ().reload('index.php?subpage='+url,{'review':true,'rating':rating,'xsnb_item_id':item_id,'days':days,'cut_object':$(this).closest('.xshop-item-detail').attr('id')});
	            }
		});
	</script>		
</div>

	<!-- Modal -->
<!-- 	<div class="modal fade" id="xShop_supplier_modal_{$id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">{supplier_caption}Supplier{/supplier_caption}</h4>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					Name :
				</div>
				<div class="col-md-9 col-sm-9">
				{$supplier_name}	
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2">
					Contact No. :
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_phone_no}<br>
					{$supplier_mobile_no}
				</div>
				<div class="col-md-2 col-sm-2">
					Email id : 
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_email_id}	
				</div>
			</div>
			<div class="row">

				<div class="col-md-2 col-sm-2">
					Official Address :  
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_office_address}
				</div>
				<div class="col-md-2 col-sm-2">
					Address : 
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_address}
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2">
					City :
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_city}
				</div>
				<div class="col-md-2 col-sm-2">
					State :
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_state}
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2">
					Country: 
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_country}
				</div>
				<div class="col-md-2 col-sm-2">
					Zip Code: 
				</div>
				<div class="col-md-4 col-sm-4">
					{$supplier_zip_code}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div style="display:none;">{$supplier_description}  
					</div>   
					{$supplier_description_copy}     
				</div>
			</div>  
	      </div>
	      <div class="modal-footer">
	              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	 -->				

<!--     <div class="modal fade" id="xShop_enquiry_modal_{$id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Enquiry</h4>
	      </div>
	    <div class="modal-body">
	    	<div class="row">
    			<div class="col-md-12">
    				{$xshop_item_enquiry_form}	
    			</div>
    		</div>
		</div>	
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div> -->
	<!-- // code for discus  -->
		<!-- {$xshop_item_discus}        -->
	<!-- //end of code for discus		 -->
