<div id='{$_name}' class='epan-component-options' component_type="{$component_type}">
		<div class="panel-group" id="accordion">
		<div class="xepan-collasp-header component-header">
		 	<div class="panel-heading">
		      	<h3 class="panel-title">
		        	<a data-toggle="collapse" data-parent="#accordion"	 href="#collapse-xshop-item-xcart">
						{$component_type_name}
		        	</a> 
		      	</h3>
		   	</div>
		 	<div id="collapse-xshop-item-xcart" class="panel-collapse collapse">
		      	<div class="panel-body">
		      		<div class='xepan-collasp-header'>
						<table class="table table-condensed table-hover">
							<tr>
								<td>
									Edit CSS
								</td>
								<td>
									<div id="xshop-cart-editcss" class="btn btn-default btn-xs">Edit CSS</div>
								</td>
							</tr>

							<tr>
								<td colspan="3" class="panel panel-heading panel-primary">
									<b>Hide/ Show</b>
								</td>
							</tr>
							<tr>
								<td>Item Count</td>
								<td>
									<select id='xshop-show-item-count' data-attr="show-item-count" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td>Amount</td>
								<td>
									<select id='xshop-show-price-count' data-attr="show-price-count" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td>Cart Item Detail</td>
								<td>
									<select id='xshop-show-cart-items' data-attr="show-cart-items" hide-class="xshop-cart-item-options" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>
		<!--start Cart Item Options -->
							<tr class="xshop-cart-item-options">
								<td>Sno</td>
								<td>
									<select id='xshop-show-cart-items-sno' data-attr="show-cart-items-sno" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>

							<tr class="xshop-cart-item-options">
								<td>Image</td>
								<td>
									<select id='xshop-show-cart-items-image' data-attr="show-cart-items-image" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>

							<tr class="xshop-cart-item-options">
								<td>Name</td>
								<td>
									<select id='xshop-show-cart-items-name' data-attr="show-cart-items-name" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>

							<tr class="xshop-cart-item-options">
								<td>Qty & Rate</td>
								<td>
									<select id='xshop-show-cart-items-qty-rate' data-attr="show-cart-items-qty-rate" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>
							<tr class="xshop-cart-item-options">
								<td>Delivery Info</td>
								<td>
									<select id='xshop-show-cart-items-delivery-info' data-attr="show-cart-items-delivery-info" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>
							<tr class="xshop-cart-item-options">
								<td>SubTotal</td>
								<td>
									<select id='xshop-show-cart-items-subtotal' data-attr="show-cart-items-subtotal" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>
							<tr class="xshop-cart-item-options">
								<td>Remove</td>
								<td>
									<select id='xshop-show-cart-items-remove-btn' data-attr="show-cart-items-remove-btn" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>								
		<!--End Cart Item Options -->
							<tr>
								<td>Total Estimate Amount Bar</td>
								<td>
									<select id='xshop-show-cart-total-estimate-bar' data-attr="show-cart-total-estimate-bar" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td colspan="3" class="panel panel-heading panel-primary">
									<b>Button Hide/ Show</b>
								</td>
							</tr>
							<tr>
								<td>Empty</td>
								<td>
									<select id='xshop-show-empty' data-attr="show-empty" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>
							<tr>
								<td>CheckOut</td>
								<td>
									<select id='xshop-show-checkout' data-attr="show-checkout" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td>View Cart</td>
								<td>
									<select id='xshop-show-cartdetail' data-attr="show-cartdetail" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td>Proceed</td>
								<td>
									<select id='xshop-show-proceed' data-attr="show-proceed" class="xshop-general-bind" >
										<option value="0">Hide</option>
										<option value="1">Show</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
								<!-- <td><input type='number' id='xshop-order-empty' data-attr="order-empty" class="xshop-general-bind"/></td> -->
							</tr>

							<tr>
								<td colspan="3" class="panel panel-heading panel-primary">
									<b>Page links</b>
								</td>
							</tr>
							<tr>
								<td>Cart Detail Page</td>
								<td>
									<input id='xshop-cart-detail-page' data-attr="cart-detail-page" Placeholder="Cart Detail Page" class="xshop-general-bind"/>
								</td>	
							</tr>
							<tr>
								<td>proceed/ Checkout page</td>
								<td>
									<input id='xshop-cart-proceed-page' data-attr="cart-proceed-page" Placeholder="Proceed Page" class="xshop-general-bind"/>
								</td>	
							</tr>

							<tr>
								<td>Designer page</td>
								<td>
									<input id='xshop-item-designer-page' data-attr="item-designer-page" Placeholder="Designer tool Page" class="xshop-general-bind"/>
								</td>	
							</tr>

							<tr>
								<td>No-Auth Redirect</td>
								<td>
									<select id='xshop-cart-noauth' data-attr="show-cart-noauth-subpage" class="xshop-general-bind" >
										<option value="0">No</option>
										<option value="1">Yes</option>
										<!-- <option value="2">Hover</option> -->
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<input id="xshop-cart-noauth-subpage-url" data-attr="show-cart-noauth-subpage-url" type="input" PlaceHolder="Page Name" class="xshop-general-bind" />
								</td>
							</tr>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div><br>
	<div>
		<button id='xShopxCartServerSide'>Manage Cart Config Pages</button>	
	</div>							
</div>

<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selected_component).what to do ???
// }) 
$('#xShopxCartServerSide').click(function(event){
	$('#epan-quick-component-options').toggle('slideup');
	$.univ.frameURL('xShop Cart','index.php?page=xShop_page_owner_main')
});

$('#xshop-cart-editcss').click(function(){
$(this).univ().frameURL('Edit CSS ( xShop Cart Display Layout )','index.php?page=xShop_page_cartlayoutcss&cut_page=1');
});

$('.xshop-general-bind').change(function(event){
	$(current_selected_component).attr($(this).attr('data-attr'),$(this).val());
	//calling hide other option
	if($(this).attr('hide-class') != undefined){
		$('.'+$(this).attr('hide-class')).hide();
		if($(this).val() > 0)
			$('.'+$(this).attr('hide-class')).show();
	}
	$(current_selected_component).children('div:first').trigger('reload');
});

var {$component_type}_options = {
	show: function (){
		// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
		// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
		// 
		// $(your_option_html_element).text($(current_selected_component).css('border'));
		//TODO FOR CART LAYOUT SELECTION OPTION IF 2 THEN SHOW ITES OPTIONS 
		$('.xshop-general-bind').each(function(index,value){
			$(this).val($(current_selected_component).attr($(this).attr('data-attr')));
			if($(this).attr('hide-class') != undefined){
				$('.'+$(this).attr('hide-class')).hide();
				if($(this).val() > 0){
					$('.'+$(this).attr('hide-class')).show();
				}
			}
		});
	}
}
</script>
